<div class="progress-msg">Escribiendo títulos...</div>
<div class="progress-msg">Escribiendo extractos...</div>
<div class="progress-msg">Escribiendo autores....</div>
<div class="progress-msg">Escribiendo slug...</div>
<div class="progress-msg">Escribiendo orden de los menús...</div>
<div class="progress-msg">Escribiendo contenidos...</div>
<div class="progress-msg">Escribiendo fechas....</div>
<div class="progress-msg">Escribiendo termino para `Categorías de los productos` taxonomía...</div>
<div class="progress-msg">Escribiendo termino para `Etiquetas del producto` taxonomía...</div>
<div class="progress-msg">Composing URLs for imagenes...</div>
<div class="progress-msg">Escribiendo URLs para archivos adjuntos...</div>
<div class="progress-msg">Escribiendo claves únicas...</div>
<div class="progress-msg">Procesando entradas...</div>
<div class="progress-msg">Análisis de datos vía add-ons...</div>
<div class="progress-msg">Composición de datos de productos...</div>
<div class="progress-msg">Composición de atributos de las variaciones...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #1</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `2988`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco`</div>
<div class="progress-msg"><b>CREANDO</b> `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco` `Producto`</div>
<div class="progress-msg">Entradas asociadas `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10112_default_big.jpeg` para `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_10112_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/11/thumb_10112_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10112_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10112_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10112_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10113_default_big.jpeg` para `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_10113_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/11/thumb_10113_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10113_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10113_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10113_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Creando padre Producto product_cat `TECNOLOGIA` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `SmartWatch Con Bluetooth, Pantalla TFT 1.48 y function Manos Libres, Cronómetro y Aviso de Mensajes Blanco` `Producto` (ID: 1261)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #2</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Cámara HD W8, 1080P con Wifi Color Gris`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Cámara HD W8, 1080P con Wifi Color Gris`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `4783`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Cámara HD W8, 1080P con Wifi Color Gris`</div>
<div class="progress-msg"><b>CREANDO</b> `Cámara HD W8, 1080P con Wifi Color Gris` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Cámara HD W8, 1080P con Wifi Color Gris` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `99` para `Cámara HD W8, 1080P con Wifi Color Gris` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 99 not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `99`</div>
<div class="progress-msg">- <b>ADERTENCIA</b>: Archivo 99 no es una imagen válida y no puede ser puesta como descatada</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/17/thumb_16510_default_big.jpeg` para `Cámara HD W8, 1080P con Wifi Color Gris` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_16510_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/17/thumb_16510_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/17/thumb_16510_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_16510_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_16510_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Creando padre Producto product_cat `ELECTRONIC AND COMPUTERS` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Cámara HD W8, 1080P con Wifi Color Gris` `Producto` (ID: 1264)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #3</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `1985`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.`</div>
<div class="progress-msg"><b>CREANDO</b> `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9338_default_big.jpeg` para `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9338_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9338_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9338_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9338_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9338_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9339_default_big.jpeg` para `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9339_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9339_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9339_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9339_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9339_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Creando padre Producto product_cat `GOURMET` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Pack de 6 Botellas de Vino Viña Albina gran reserva 75cl.` `Producto` (ID: 1266)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #4</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Colchón Visco Luxury Silk Sense 90x190`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Colchón Visco Luxury Silk Sense 90x190`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `4196`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Colchón Visco Luxury Silk Sense 90x190`</div>
<div class="progress-msg"><b>CREANDO</b> `Colchón Visco Luxury Silk Sense 90x190` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Colchón Visco Luxury Silk Sense 90x190` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/16/thumb_15322_default_big.jpeg` para `Colchón Visco Luxury Silk Sense 90x190` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_15322_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/16/thumb_15322_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/16/thumb_15322_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_15322_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_15322_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/15/thumb_14003_default_big.jpeg` para `Colchón Visco Luxury Silk Sense 90x190` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_14003_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/15/thumb_14003_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/15/thumb_14003_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_14003_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_14003_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Creando padre Producto product_cat `HOGAR` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Colchón Visco Luxury Silk Sense 90x190` `Producto` (ID: 1269)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #5</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Escoba Eléctrica Magic Sweeper`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Escoba Eléctrica Magic Sweeper`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `4706`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Escoba Eléctrica Magic Sweeper`</div>
<div class="progress-msg"><b>CREANDO</b> `Escoba Eléctrica Magic Sweeper` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Escoba Eléctrica Magic Sweeper` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/17/thumb_16433_default_big.jpeg` para `Escoba Eléctrica Magic Sweeper` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_16433_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/17/thumb_16433_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/17/thumb_16433_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_16433_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_16433_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/17/thumb_16434_default_big.jpeg` para `Escoba Eléctrica Magic Sweeper` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_16434_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/17/thumb_16434_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/17/thumb_16434_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_16434_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_16434_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Creando padre Producto product_cat `MOVILIDAD` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Escoba Eléctrica Magic Sweeper` `Producto` (ID: 1272)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #6</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `3936`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín`</div>
<div class="progress-msg"><b>CREANDO</b> `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/14/thumb_13324_default_big.jpeg` para `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_13324_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/14/thumb_13324_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/14/thumb_13324_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_13324_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_13324_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/14/thumb_13325_default_big.jpeg` para `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_13325_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/14/thumb_13325_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/14/thumb_13325_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_13325_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_13325_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `MOVILIDAD`, duplicado detectado. Importando Producto a un existente `MOVILIDAD` product_cat, ID 38, slug `movilidad` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Monopatín Eléctrico Auto-balance Rojo Con Batería SAMSUNG y funda para el monopatín` `Producto` (ID: 1275)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #7</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `2802`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios`</div>
<div class="progress-msg"><b>CREANDO</b> `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9422_default_big.jpeg` para `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9422_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9422_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9422_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9422_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9422_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9421_default_big.jpeg` para `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9421_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9421_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9421_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9421_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9421_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `TECNOLOGIA`, duplicado detectado. Importando Producto a un existente `TECNOLOGIA` product_cat, ID 34, slug `tecnologia` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Auriculares Beats By Dr. Dre SoloHD Negro Refurbished En Caja Original y con Accesorios` `Producto` (ID: 1278)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #8</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `2711`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes`</div>
<div class="progress-msg"><b>CREANDO</b> `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9315_default_big.jpeg` para `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9315_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9315_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9315_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9315_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9315_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9316_default_big.jpeg` para `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9316_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9316_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9316_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9316_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9316_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `TECNOLOGIA`, duplicado detectado. Importando Producto a un existente `TECNOLOGIA` product_cat, ID 34, slug `tecnologia` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Drone QuadCopter Super-X5 Con Función de Retorno, Cámara HD y Giroscopio de 6 Ejes` `Producto` (ID: 1281)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #9</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `2475`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco`</div>
<div class="progress-msg"><b>CREANDO</b> `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9778_default_big.jpeg` para `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9778_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9778_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9778_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9778_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9778_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9779_default_big.jpeg` para `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9779_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9779_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9779_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9779_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9779_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `TECNOLOGIA`, duplicado detectado. Importando Producto a un existente `TECNOLOGIA` product_cat, ID 34, slug `tecnologia` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Reproductor Altavoz Joybox con Bluetooth, USB, léctor SD, MMC, MiniJack y Radio Blanco` `Producto` (ID: 1284)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #10</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `2913`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.`</div>
<div class="progress-msg"><b>CREANDO</b> `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9628_default_big.jpeg` para `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9628_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9628_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9628_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9628_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9628_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9629_default_big.jpeg` para `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_9629_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/10/thumb_9629_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/10/thumb_9629_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9629_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_9629_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `HOGAR`, duplicado detectado. Importando Producto a un existente `HOGAR` product_cat, ID 37, slug `hogar` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Easy Grill 3 en 1, Panini Maker, Plancha de Asar, Tostadora.` `Producto` (ID: 1287)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #11</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `Robot De Cocina Moulinex Masterchef Gourmet Rojo`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `Robot De Cocina Moulinex Masterchef Gourmet Rojo`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `3081`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `Robot De Cocina Moulinex Masterchef Gourmet Rojo`</div>
<div class="progress-msg"><b>CREANDO</b> `Robot De Cocina Moulinex Masterchef Gourmet Rojo` `Producto`</div>
<div class="progress-msg">Entradas asociadas `Robot De Cocina Moulinex Masterchef Gourmet Rojo` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10456_default_big.jpeg` para `Robot De Cocina Moulinex Masterchef Gourmet Rojo` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_10456_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/11/thumb_10456_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10456_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10456_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10456_default_big.jpeg`</div>
<div class="progress-msg">- Importando imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10457_default_big.jpeg` para `Robot De Cocina Moulinex Masterchef Gourmet Rojo` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image thumb_10457_default_big.jpeg not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `http://karpedeal.com/uploads/media/default/0001/11/thumb_10457_default_big.jpeg`</div>
<div class="progress-msg">- Imagen `http://karpedeal.com/uploads/media/default/0001/11/thumb_10457_default_big.jpeg` ha sido descargada con éxito</div>
<div class="progress-msg">- Creando un archivo adjunto para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10457_default_big.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Archivo adjunto ha sido creado con éxito para la imagen `http://netsalesimages.com/html/singlesday_ES/wp-content/uploads/2016/11/thumb_10457_default_big.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `HOGAR`, duplicado detectado. Importando Producto a un existente `HOGAR` product_cat, ID 37, slug `hogar` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `Robot De Cocina Moulinex Masterchef Gourmet Rojo` `Producto` (ID: 1290)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #12</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `iPhone 6 16 GB Plata Libre Refurbished`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `iPhone 6 16 GB Plata Libre Refurbished`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `4614`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `iPhone 6 16 GB Plata Libre Refurbished`</div>
<div class="progress-msg"><b>CREANDO</b> `iPhone 6 16 GB Plata Libre Refurbished` `Producto`</div>
<div class="progress-msg">Entradas asociadas `iPhone 6 16 GB Plata Libre Refurbished` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `419` para `iPhone 6 16 GB Plata Libre Refurbished` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 419 not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `419`</div>
<div class="progress-msg">- <b>ADERTENCIA</b>: Archivo 419 no es una imagen válida y no puede ser puesta como descatada</div>
<div class="progress-msg">- Importando imagen `499` para `iPhone 6 16 GB Plata Libre Refurbished` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 499 not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `499`</div>
<div class="progress-msg">- <b>ADERTENCIA</b>: Archivo 499 no es una imagen válida y no puede ser puesta como descatada</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `TECNOLOGÍA`, duplicado detectado. Importando Producto a un existente `TECNOLOGIA` product_cat, ID 34, slug `tecnologia` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `iPhone 6 16 GB Plata Libre Refurbished` `Producto` (ID: 1293)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Registros #13</div>
<div class="progress-msg"><b>ACCION</b>:pmxi_before_post_import ...</div>
<div class="progress-msg">Combinar toda la información para entrada `iPhone 5 16GB Negro Libre Refurbished`... </div>
<div class="progress-msg">Encontrar artículo correspondiente entre las entradas previamente importadas `iPhone 5 16GB Negro Libre Refurbished`...</div>
<div class="progress-msg">Entrada duplicada no fue encontrada con clave única `4969`...</div>
<div class="progress-msg">Aplicando filtro `pmxi_article_data` para `iPhone 5 16GB Negro Libre Refurbished`</div>
<div class="progress-msg"><b>CREANDO</b> `iPhone 5 16GB Negro Libre Refurbished` `Producto`</div>
<div class="progress-msg">Entradas asociadas `iPhone 5 16GB Negro Libre Refurbished` con el importe actual...</div>
<div class="progress-msg"><b>IMAGENES:</b></div>
<div class="progress-msg">- Importando imagen `120` para `iPhone 5 16GB Negro Libre Refurbished` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 120 not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `120`</div>
<div class="progress-msg">- <b>ADERTENCIA</b>: Archivo 120 no es una imagen válida y no puede ser puesta como descatada</div>
<div class="progress-msg">- Importando imagen `187` para `iPhone 5 16GB Negro Libre Refurbished` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 187 not found in media gallery.</div>
<div class="progress-msg">- Descargando imagen desde `187`</div>
<div class="progress-msg">- <b>ADERTENCIA</b>: Archivo 187 no es una imagen válida y no puede ser puesta como descatada</div>
<div class="progress-msg"><b>TAXONOMIAS:</b></div>
<div class="progress-msg">- Importando taxonomía `product_cat` ...</div>
<div class="progress-msg">- Intentando crear padre Producto product_cat `TECNOLOGÍA`, duplicado detectado. Importando Producto a un existente `TECNOLOGIA` product_cat, ID 34, slug `tecnologia` ...</div>
<div class="progress-msg">- Importando taxonomía `product_tag` ...</div>
<div class="progress-msg"><b>CREADO</b> `iPhone 5 16GB Negro Libre Refurbished` `Producto` (ID: 1294)</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACCION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Limpiando datos temporales...</div>
