@charset "utf-8";

/*
Theme Name: Midway
Theme URI: http://themextemplates.com/demo/midway
License: GNU General Public License and Themeforest License
License URI: http://themeforest.net/licenses/regular_extended
Description: Premium Travel WordPress Theme.
Author: Themex
Author URI: http://www.themeforest.net/user/themex/
Version: 3.7
Tags: travel, trip, tour, journal, nature, ecological, cruise, holiday, booking
*/

/*--------------------CSS Structure-------------------

1. RESET/GLOBAL
		Global Styles
		Form Elements
		Misc Styles
		
2. CUSTOM ELEMENTS
		Buttons
		Datepicker
		Divider
		Forms
		Icons
		Images
		Lists
		Slider
		Select
		Tabs
		Toggles
		
3. LAYOUT
		Columns
		Header
			- Search Form
			- Social Links
			- Dropdown Menu
			- Select Menu
		Content
		Footer
		
4. PAGES
		Blog
			- Post
			- Comments
			- Pagination
		Tours
			- Thumbnail
			- Single Item
			- Search Form
		Gallery
		
5. SLIDERS
		Fade Slider
		Main Slider
		Testimonials Slider
		
5. WIDGETS
		Default Search
		Latest Posts
		Latest Comments
		Google Map
		Newsletter
		Twitter

6. RESPONSIVE STYLES
7. CSS3 EFFECTS
8. IE FIXES

------------------------------------------------*/

/* ============================== RESET/NORMALIZE =========================== */

/*-------------------------------- Global Styles -----------------------------*/
@font-face {
    font-family: Coolvetica;
    src: url(fonts/coolvetica.ttf);
}

html,body,div,span,object,iframe,h1,h2,h3,
h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,
del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td {
	border:0;
	margin:0;
	padding:0;
	outline:none;
}

article,aside,figure,figure img,figcaption,hgroup,
footer,header,nav,section,video,object {
	display:block;
}

html,
body {
	height:100%;
	width:100%;	
}

body {
	font:13px Open Sans, Arial, Helvetica, sans-serif;
	color:#333;
	background:#fff url(images/site_bg.jpg);
	line-height:1.5em;
	position: relative;
	overflow-x:hidden;
	overflow-y: scroll;
}

a img{
	border:0;
}

img {
	max-width:100%;
	height: auto;
}

address {
	margin: 0 0 1.5em;
	padding: 0;
	font-style: normal;
}

table {
	width:100%;
	border:1px solid #ddd;
	border-right-width:0;
	border-bottom-width:0;
	border-spacing: 0;
	border-collapse: collapse;
}

thead {
	font-size:1em;
	background-color:#eee;
	color:#555;
}

th,td {
	padding:0.5em 10px;
	border:1px solid #ddd;
	border-left-width:0;
	border-top-width:0;
}
	
::-moz-selection { color: #fff;  background-color: #FF9000; }
::selection { color: #fff;  background-color: #FF9000; }

a {
	text-decoration:none;
	color: #FF9000;
}

h1, h2, h3, h4, h5, h6, th {
	font-weight:normal;
	line-height:1em;
	color:#444;
	font-family:Signika;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#444;
}

h1 a:hover,
h2 a:hover,
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover {
	color:#FF9000;
}

h1 {
	font-size:1.9em;
	margin-bottom: 0.5em;	
}

h2 {
	font-size:1.8em;	
	margin-bottom: 0.6em;
}

h3	{
	font-size:1.6em;
	margin-bottom:0.7em;
}
				
h4	{
	font-size:1.3em;
	margin-bottom:0.85em;
}

h5 {
	font-size:1.2em;
	margin-bottom:0.5em;
} 

h6	{
	font-size:1.1em;
	margin-bottom:0.5em;
	line-height:1.5em;
}

pre, code {
    font-family: mono-space, monospace;
    overflow: auto;
    padding: 30px;
    white-space: pre;
}

blockquote {
    font-style: italic;
	margin-bottom:1em;
	font-size:1.1em;
	line-height: 1.5em;
}

p {
	margin:0 0 1em 0;
	padding: 0;
}

p:last-child {
	margin-bottom:0;
}

/*-------------------------------- Form Elements  -----------------------------*/

input[type="text"],
input[type="number"],
input[type="password"],
select, 
textarea {
	width:auto;
	padding:0.5em 9px;
	font-size:1em;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	color:#333;
	border:1px solid #D4D4D4;
	background-color:#fff;
	outline:none;
	margin:0 0 1em 0;	
}

textarea {
	resize:none;
}

input[type="submit"],
input[type="button"] {
	border:0;
	background:none;
	margin:0;
	outline:none;
}

/*-------------------------------- Misc Styles ------------------------------*/

.clear {
	clear:both;
}

.clearfix:after {
	display:table;
	clear:both;
	content:" ";
}

.hidden {
	display:none;
}

.fullwidth {
	display:block;
	width:100%!important;
	height:auto;
}

.substrate {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	width:100%;
	z-index:0;
}

.top-substrate,
.section-substrate {
	top:0;
}

.bottom-substrate {
	bottom:0;
}

.alignnone {
    margin: 0;
}

.alignright {
    float:right;
    margin: 0 0 1em 20px;
}

.alignleft {
    float:left;
    margin: 0 20px 1em 0;
}

.aligncenter {
    display: block;
	text-align:center;
    margin: 0 auto;
}

.aligncenter * {
	text-align:center;
}

.wp-caption,
.gallery-caption,
.wp-caption-text {
	background:#eee;
	border:1px solid #E5E5E5;
}

.bypostauthor {
	font-weight:bold;
	color:#888;
}

.sticky {
	border-bottom:1px dotted #ccc;
	margin-bottom:1em;
}

/* ========================== CUSTOM ELEMENTS ========================= */

/*------------------------------- Buttons ------------------------------*/

input[type="submit"],
input[type="button"],
.button {
	display:inline-block;
	cursor:pointer;	
	position:relative;
	background:#FF9000;
	color:#fff!important;
	word-spacing:0.2em;
	white-space: nowrap;
	text-shadow:0 -1px 0 rgba(0,0,0,0.2);
	border:1px solid rgba(0,0,0,0.1);	
	font-family:Signika;
	padding:0 12px;
	line-height:2.2em;
}

.button.grey {
	background-color:#E2E2E2;
	color:#666!important;
	text-shadow:0 1px 0 rgba(255,255,255,0.3);
}

.button.dark {
	background-color:#383838;
	border:1px solid rgba(0,0,0,0.2);
}

.button:after {
	content:" ";
	display:block;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background:url(images/button_bg.png) 0 0 repeat-x;
}

.button:hover:after {
	background-color:rgba(255,255,255,0.05);
	color:#fff;
}

.button.grey:hover:after {
	color:#444;
}

.button:active:after {
	background:none;
}

.button.medium {
	font-size:1.1em;
}

.button.small {
	padding:0 8px;
	line-height:2.2em;
}

.button.large {
	font-size:1.3em;
	padding:0 12px;
	line-height:2.1em;
}

/*------------------------------ Datepicker --------------------------*/

.date-field {
	background-image:url(images/datepicker_icon.png);
	background-repeat:no-repeat;
	background-position:right 7px;
}

.date-field.reverse {
	background-position:right -46px;
}

.popup-form .date-field {
	background-position:right -97px;
}

/*------------------------------- Divider ----------------------------*/

.divider {
	height:3px;
	background:url(images/divider.png) 0 0 repeat-x;
}

/*-------------------------------- Forms -----------------------------*/

.formatted-form .field-container {
	padding:0 10px;
}

.formatted-form ul {
	margin-bottom:1em;
}

.formatted-form .field-container input[type="text"],
.formatted-form .field-container input[type="number"],
.formatted-form .field-container input[type="password"],
.formatted-form .field-container select,
.formatted-form .field-container textarea {
	margin-left:-10px;
	width:100%;
	display:block;
}

.formatted-form input[type="checkbox"] {
	margin:0 5px 1.2em -10px;
	display:inline-block;
}

.formatted-form textarea {
	height:6em;
}

.formatted-form label {
	cursor:pointer;
}

.formatted-form .button {
	float:left;
}

.formatted-form  .captcha img {
	float:left;
	margin:1px 15px 0 0;
}

.formatted-form  .captcha input {
	float:left;
	width:55px;
}

.formatted-form .loader {
	width:20px;
	height:20px;
	float:left;
	margin:5px 0 0 9px;
	background:url(images/loader.gif) 0 0 no-repeat;
}

.formatted-form  .submit-button {
	clear:left;
	margin:0;
}

.popup-form {
	padding:0.5em 15px 0 15px;
	width:320px;
	overflow:hidden;
}

.popup-form .column {
	width:100%;
	margin:0;
	float:none;
}

/*------------------------------- Icons -----------------------------*/

.colored-icon {
	position:relative;
	bottom:-1px;
	width:16px;
	height:16px;
	float:left;
	margin:0 0 -5px 0;
	background:#FF9000 url(images/colored_icons.png) 0 0 no-repeat;
}

.colored-icon.icon-1 { background-position:-6px -5px; }
.colored-icon.icon-2 { background-position:-6px -34px; }
.colored-icon.icon-3 { background-position:-7px -64px; }
.colored-icon.icon-4 { background-position:-7px -89px; }
.colored-icon.icon-5 { background-position:-6px -115px; }
.colored-icon.icon-6 { background-position:-6px -141px; }
.colored-icon.icon-7 { background-position:-6px -167px; }

/*----------------------------- Images ------------------------------*/

.featured-image {
	overflow:hidden;
	position:relative;
	z-index:100;
	border:4px solid #fff;	
}

.featured-image img {
	display:block;
	width:100%;
	height:auto;
}

.featured-image-caption {
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	color:#fff;
	background:url(images/bg_black_70.png);
	z-index:11;
}

.featured-image-caption.hidden-caption {
	bottom:-2.75em;
}

.featured-image-caption.none-caption {
	display:none;
}

.featured-image:hover .featured-image-caption {
	bottom:0!important;
}

.featured-image-caption h4,
.featured-image-caption h6 {
	margin:0;	
	padding:0.4em 15px;
	line-height:1.5em;
	color:#fff;
}

/*-------------------------------- Lists ----------------------------*/

ul, ol {
    margin-bottom:1em;
    list-style-position:inside;
	list-style-type:disc;
}

ol {
	list-style-type:decimal;
}

li > ul, li > ol {
	margin-top:0.5em;
    margin-bottom:0;
}

li {
	margin-bottom:0.5em;
}

ul:last-child,
ol:last-child,
li:last-child {
	margin-bottom:0;
}

ul.styled-list,
ul.error,
ul.success {
	list-style:none;
}

ul.error,
ul.success {
	margin-bottom:0.7em;	
}

ul.styled-list li,
ul.error li,
ul.success li {
	padding-left:13px;
}

ul.styled-list li:last-child,
ul.error li:last-child,
ul.success li:last-child {
	margin:0;
}

ul.list-1 li {	background:url(images/bullet_1.png) 0 0.4em no-repeat; }
ul.list-2 li {	background:url(images/bullet_2.png) 0 0.4em no-repeat; }
ul.list-3 li {	background:url(images/bullet_3.png) 0 0.6em no-repeat; }
ul.list-4 li {	background:url(images/bullet_4.png) 0 0.4em no-repeat; }
ul.list-5 li {	background:url(images/bullet_5.png) 0 0.5em no-repeat; }
ul.error li { background:url(images/bullet_5.png) 0 0.5em no-repeat; }
ul.success li { background:url(images/bullet_3.png) 0 0.6em no-repeat; }

/*------------------------------- Select ------------------------------*/

.select-field {
	position:relative;
	background:#333 url(images/select_bg.png) right 12px no-repeat;
	margin-bottom:1.5em;	
	border:1px solid #2f2f2f;
}

.select-field span {
	display:block;
	color:#AFAFAF;
	border-width:0;
	padding:0.5em 10px;
}

.select-field:hover span {
	color:#bbb;
}

.select-field select {
	margin:0;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	cursor:pointer;
	opacity:0;
}

.popup-form .select-field {
	background-color:#fff;
	border-color:#D4D4D4;
	background-position:right -42px;
}

.popup-form .select-field span {
	color:#333;
}

/*------------------------------- Slider ---------------------------*/

.range-slider  {    
	margin: -0.5em 0 1.5em 0;    
}

.range-slider .range-min,
.range-slider .range-max {
	color:#bbb;
	margin-bottom:0.55em;
	text-shadow:0 -1px 0 rgba(0,0,0,0.1);
}

.range-slider .range-min {
	float:left;
}

.range-slider .range-max {
	float:right;
}

.range-slider .ui-slider  {
     position:  relative;
     text-align:  left;
	 height:5px;
	 background:#333;	 
	 border-width:0;
	 clear:left;
 }

.range-slider  .ui-slider-handle  {
     position:  absolute;
     z-index:  2;
     width:  10px;
     height:  16px;
     cursor:  default;
	 margin-left:-10px;
	 margin-top:-5px; 
	 cursor: move;
	 padding-left:10px;
	 border-width:0;
	 background:url(images/range_slider_handle.png) 10px 0 no-repeat;
}
 
.range-slider  .ui-slider-handle:last-child {
	background-position:0 0;	
}

.range-slider  .ui-slider-range  {
     position:  absolute;
     z-index:  1;
     display:  block;
	 background:#FF9000;
	 height:  100%;
	 border-width:0;
}

/*--------------------------------- Tabs -------------------------------*/

.tabs-container {
	margin-bottom:2em;
	overflow:hidden;
}

.tabs-container .tabs{
	margin:0;
	position:relative;
	z-index:9;
}

.tabs-container .tabs a {
	color:#444;
	text-decoration:none;
}

.tabs-container .panes{
	overflow:hidden;
	position:relative;
	z-index:0;
}

.tabs-container .pane {
	display:none;	
	overflow:hidden;
	margin-bottom:1px;
}

.horizontal-tabs .tabs {
	display:block;	
	list-style:none;
	margin:0;
}

.horizontal-tabs .tabs li {
	margin:0;
	padding:0;
	float:left;
	background:none;	
	cursor:pointer;
	background-color:#F5F5F5;
	color:#444;	
}

.horizontal-tabs .tabs li a {
	display:block;
	border-top:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
	padding:6px 20px;
}

.horizontal-tabs .tabs li:hover {
	background-color:#F1F1F1;
}

.horizontal-tabs .tabs li:first-child {
	border-left:1px solid #E5E5E5;
}

.horizontal-tabs .tabs li:first-child a {
	border-left-width:0;
}

.horizontal-tabs .tabs li:last-child a{
	border-right:1px solid #E5E5E5;
}

.horizontal-tabs .tabs li.current{
	padding-bottom:5px;
	margin-bottom:-5px;
	position:relative;
	z-index:1;
	color:#333;
	font-weight:bold;
	background:#fff;
}

.horizontal-tabs .panes {
	clear:left;
}

.horizontal-tabs .pane {
	padding:1.4em 20px;
	border:1px solid #E5E5E5;	
	background:#fff;
}

.vertical-tabs .tabs {
	padding:1em 0;
	border-right:1px solid #E5E5E5;
	margin-right:-1px;	
}

.vertical-tabs .tabs ul {
	display:block;	
	list-style:none;
	margin:0;
}

.vertical-tabs .tabs li {
	display:block;	
	margin:0 0 -1px 0;
	padding:1em 15px;
	background:none;
	cursor:pointer;	
	color:#666;
	border:1px solid transparent;
	border-bottom-style:dotted;
	border-bottom-color:#E5E5E5;
}

.vertical-tabs .tabs li.current {
	border-color:#E5E5E5;
	border-right-color:#fff;
	border-style:solid;
	color:#333;
	font-weight:bold;
	margin-right:-1px;
}

.vertical-tabs .panes {
	border-left:1px solid #E5E5E5;
	padding:1em 0 1em 3.7%;
}

/*------------------------------ Toggles -----------------------------*/

.toggle {
	overflow:hidden;
	position:relative;
}

.toggle .toggle-title {
	padding:0.5em 20px;
	cursor:pointer;
	border-bottom:1px dotted #ddd;
	color:#444;
}

.toggle .toggle-title:hover,
.toggle.expanded .toggle-title {
	border-color:#ccc;
	color:#111;
}

.toggle .toggle-content{
	padding:1em 19px;
	display:none;
	border:1px dotted #ccc;
	border-top-width:0;	
	overflow:hidden;
	background:#fff;
}

.toggle:after {
	display:block;
	content:" ";
	position:absolute;
	left:0;
	top:0.85em;
	height:10px;
	width:10px;
	color:#fff;
	cursor:pointer;
	background:url(images/toggle_icons.png) -7px -7px no-repeat;
}

.toggle.expanded:after {
	background-position:-31px -7px;
}

/* ============================= LAYOUT ============================ */

/* ----------------------------- Columns --------------------------- */

.container {
	position:relative;	
	z-index:2;
}

.site-container {
	overflow:hidden;
	min-height:100%;
	width:100%;	
	margin:0;
}

.row {
	width: 1140px;
	margin: 0 auto;
	position:relative;
	z-index:100;
}

.row:after {
	display:table;
	clear:both;
	content:" ";
}

.column {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.row .onecol { width: 4.85%; }
.row .twocol { width: 13.45%; }
.row .threecol { width: 22.05%; }
.row .fourcol { width: 30.75%; }
.row .fivecol { width: 39.45%; }
.row .sixcol { width: 48%; }
.row .sevencol { width: 56.75%; }
.row .eightcol { width: 65.4%; }
.row .ninecol { width: 74.05%; }
.row .tencol { width: 82.7%; }
.row .elevencol { width: 91.35%; }
.row .twelvecol { width: 100%; }

.ie .onecol { width: 4.7%;}
.ie .twocol { width: 13.2%; }
.ie .threecol { width: 22.05%; }
.ie .fourcol { width: 30.6%; }
.ie .fivecol { width: 39%; }
.ie .sixcol { width: 48%; }
.ie .sevencol { width: 56.75%; }
.ie .eightcol { width: 61.6%; }
.ie .ninecol { width: 74.05%; }
.ie .tencol { width: 82%; }
.ie .elevencol { width: 91.35%; }

.last { margin-right: 0px!important; }

/* ------------------------------- Header ----------------------------- */

.site-header {
	z-index:1000;
	padding:2em 0;	
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.site-header .header-background {
	height:10px;
	width:100%;
	position:absolute;
	left:0;
	right:0;
	bottom:0;	
	background:url(images/header_bg.png) 0 0 repeat-x;
}

.site-header .supheader {
	padding-top:2em;
	position:relative;
	z-index:200;
}

.site-header .subheader {
	position:relative;
	z-index:100;
}
.subheader .threecol {
  float: right;
  margin-right: 0px;
}
.site-header .subheader-block {
	margin-top:2em;
	margin-bottom:2em;
}

.site-header .logo {
	float:left;
	margin-top:-1.85em;
}

.site-header .logo a {
	display:block;
	color:#fff;
	font-size:3.7em;
	line-height:1em;
	font-family:Pacifico, Arial, Helvetica, sans-serif;
}

.site-header .logo img {
	display:block;
	height:auto;
}

.site-header .header-text {
	float:right;	
	padding:3px 0;
	margin-left:10px;
}

.site-header .header-text h5 {
	line-height:1.5em;
	margin:0;
	color:#fff;
}

/* ------------------------------ Social Links ---------------------------- */

.social-links {
	float:left;	
	padding:4px 0;
   margin-bottom: 10px;
}

.social-links a,
.social-links span {
	float:left;
	margin-left:10px;	
}

.social-links span {
	color:#fff;
	font-size:1.1em;
	font-weight:bold;
}

.social-links a {
	width:30px;
	height:30px;
   
	margin-top:0.15em;
 border-radius: 3px;
	/*background:url(images/social_icons.png) 0 0 no-repeat;	*/
  background-color: #475964;
}

.social-links a.stumbleupon { background-position: -0px -0px; }
.social-links a.facebook { margin-left: 0px; background-image:url(images/facebook.png);padding: 9px; background-repeat: no-repeat; background-position: center;   background-size: 30px 30px;}
.social-links a.twitter { background-image:url(images/twitter.png);padding: 9px; background-repeat: no-repeat; background-position: center;   background-size: 30px 30px; }
.site-header .social-links a.tumblr { background-position: -0px -16px; }
.site-header .social-links a.rss { background-position: -16px -16px; }
.site-header .social-links a.flickr { background-position: -32px -16px; }
.site-header .social-links a.youtube { background-position: -0px -32px; }
.site-header .social-links a.google { background-position: -16px -32px; }
.site-header .social-links a.blogger { background-position: -32px -32px; }
.site-header .social-links a.vimeo { background-position: -0px -48px; }
.site-header .social-links a.skype { background-position: -16px -48px; }
.site-header .social-links a.linkedin { background-position: -32px -48px; }

/* ---------------------------- Dropdown Menu -------------------------- */

.header-menu {
	float:right;
}

.header-menu a {		
	color:#fff;
	display:block;
	padding:0.2em 9px;
	line-height:1.5em;
	font-family:Signika;
}

.header-menu a span {
	color:#fff;
}

.header-menu ul {
	list-style:none;
	margin:0;
}

.header-menu > div > ul > li {
	float:left;
	margin:0 0 0 6px;
	position:relative;
}

.header-menu > div > ul > li > a {
	position:relative;
	z-index:600;
	font-size:1.2em;
}

.header-menu > div > ul > li.current-menu-item > a,
.header-menu > div > ul > li.current-menu-parent > a,
.header-menu > div > ul > li.hover > a,
.header-menu > div > ul > li:hover > a {
	background:#fff;
	color:#FF9000;
}

.header-menu > div > ul > li.parent.hover > a {
	margin-bottom:-0.5em;
	padding-bottom:0.5em;
}

.header-menu > div > ul > li.current-menu-item > a span,
.header-menu > div > ul > li.current-menu-parent > a span,
.header-menu > div > ul > li.hover > a span,
.header-menu > div > ul > li:hover > a span {
	color:transparent;
}

.header-menu ul ul {
	display:none;
	position:absolute;
	z-index:500;	
	min-width:120px;
	top:2.6em;
}

.header-menu ul ul a {
	font-size:1.1em;
}

.header-menu ul ul li {
	background:#fff;
	border-bottom:1px dotted #ddd;
	position:relative;
	margin:0;
}

.header-menu ul ul li:last-child {
	border-width:0;
}

.header-menu ul ul ul {
	left:100%;
	top:0;
	padding-left:1px;
}

.header-menu ul ul a {
	color:#444;
	padding:6px 10px;
}

.header-menu ul ul a:hover {
	color:#FF9000;
}

/*------------------------------ Select Menu ----------------------------*/

.select-menu {
	display:none;
	position:relative;
	cursor:pointer;
	height:34px;
	margin:1.5em 0 0.5em 0;
	float:left;
	font-size:1.1em;
	width:100%;
}

.select-menu span {
	color:#ccc;
}

.home .select-menu {
	margin-bottom:2.5em;
}

.select-menu select {
	height:34px;
	border:0;
	padding:0;
	margin:0;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	display:none;
	cursor:pointer;
}

.select-menu span {
	padding:0 20px 0 11px!important;
	line-height:34px;
}

/* ------------------------------- Content ----------------------------- */

.site-content {
	z-index:10;
	background:#fff;
}

.site-content .row,
.content-section {
	padding:2.5em 0 3em 0;
}

.site-content img, 
.site-content object,
.site-content embed {
	max-width: 100%;
}

.section-title {	
	overflow:hidden;
	margin-bottom:0.8em;
	padding-bottom:0.6em;
	background:url(images/divider.png) 0 bottom repeat-x;
}

.section-title h1,
.section-title h4 {
	margin:0;
	line-height:1.5em;
	float:left;
}

/* ------------------------------- Footer ----------------------------- */

.site-footer .row {
	padding:2em 0;
	color:#fff;
}

.site-footer a {
	color:#fff;
}

.site-footer .copyright {
	float:left;
}

.site-footer .menu {
	float:right;
	overflow:hidden;
}

.site-footer ul {
	list-style:none;
	margin:0;
}

.site-footer ul ul {
	display:none;
}	

.site-footer li {
	float:left;
	margin:0 0 0 15px;
}

/* ============================== PAGES ============================= */

/*-------------------------------- Blog ------------------------------*/

.featured-blog {
	padding-top:0.5em;
}

.featured-blog  .post {
	padding-bottom:2em;
}

.blog-listing .post {
	padding-bottom:2.5em;
}

.post:last-child {
	padding:0;
}

.featured-blog .featured-image{
	margin-bottom:1.5em;
}

.post .post-footer {
	clear:both;
	margin-top:1em;
}

.single-post .post-footer .post-tags {
	float:right;
	padding-top:0.4em;
}

.single-post .post-footer .post-tags a {
	display:block;
	float:left;	
	background:url(images/tag_bg.png) right 0 no-repeat;
	padding:0 15px 0 5px;
	color:#999;
	text-shadow:0 1px 0 #F5F5F5;
	font-size:0.9em;
	line-height:20px;
	margin-left:6px;
	border-left:1px solid rgba(0,0,0,0.05);
}

.full-post .post-featured-image {
	margin-bottom:2em;
}

.post-footer .post-info,
.post-footer .post-comment-count,
.post-footer .button {
	float:left;
	margin-right:10px;
}

.post-footer .post-info {
	color:#777;
	padding:0.4em 0;
}

.post-footer .post-comment-count {
	font-size:0.9em;
	color:#777;	
	width:21px;
	height:20px;
	margin:6px 8px 0 0;
	line-height:17px;
	text-align:center;	
	background:url(images/comments_icon.png) 0 0 no-repeat;
	text-shadow:0 1px 0 #fff;
}

/*-------------------------------- Comments ----------------------------*/

.post-comments {
	margin-top:2em;
}

.comments-list {
	padding-top:0.5em;
} 

.comments-list ul {
	list-style:none;
	margin:0;
}

.comments-list li {
	border-bottom:1px dotted #d7d7d7;
	padding-bottom:1.5em;
	margin-bottom:1.5em;
}

.comments-list li:last-child {
	margin-bottom:0;
}

.comments-list li ul {
	padding-left:100px;
	padding-top:2em;
}

.comments-list li ul li:last-child {
	border-bottom-width:0;
	padding-bottom:0;
}

.comment {
	display:table;
	width:100%;
}

.comment .avatar-container,
.comment .comment-text {
	display:table-cell;
	vertical-align:top;
}

.comment .avatar-container {
	width:85px;
	padding-right:15px;
}

.comment .avatar-container img {
	width:100%;
	display:block;
	height:auto;
}

.comment .comment-header {
	margin-bottom:0.5em;
}

.comment .comment-author {
	float:left;
	line-height:1.4em;
	margin:0;
}

.comment .comment-date {
	float:left;
	color:#888;
	margin-left:7px;
}

.comment .comment-reply-link {
	float:left;
	width:16px;
	height:16px;	
	margin-left:7px;
	position:relative;
	top:2px;
	font-size:0;
	line-height:0;
	background:url(images/comment_reply_icon.png) 0 0 no-repeat;
}

.post-comments .comments-pagination {
	padding-bottom:3em;
	float:none;
}

.comments-list .comment-form {
	padding-left:100px;
	margin-top:1.5em;
}

.comments-list #reply-title,
.comment-respond #reply-title {
	display:none;
}

/*-------------------------------Pagination------------------------------*/

.pagination {
	float:left;
	overflow:hidden;
}

.pagination a,
.pagination span {
	float:left;	
	line-height:24px;
	height:24px;
	text-align:center;
	color:#888;
	font-size:1.1em;
	font-weight:bold;
	margin:2em 11px 0 0;
}

.pagination span {
	border:1px solid #ddd;
	width:24px;
	text-shadow:0 1px 0 #fff;
}

.pagination a:hover{
	color:#333;
}

.pagination a.next,
.pagination a.prev{
	background-image:url(images/pagination_arrows.png);
	background-repeat:no-repeat;
	background-position:0px 6px;
	width:7px;
}

.pagination a.next {
	background-position:-53px 6px;
}

/*----------------------------- Tour Thumbnail -----------------------------*/

.items-grid {
	padding-top:0.5em;
	margin-bottom:-3.8%;
	float:left;
	width:100%;
}

.items-grid .column {
	margin-bottom:3.8%;
}

.tour-thumb-container {
	position:relative;
}

.tour-thumb-container .block-background {
	position:absolute;
	background:#fff;
	width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.tour-thumb-container:hover .block-background {
	top:-4px;
	bottom:-4px;
}

.tour-thumb {
	overflow:hidden;
	border:10px solid #fff;
	position:relative;
	z-index:10;
}

.tour-thumb img {
	display:block;
	width:100%;
	height:auto;
}

.tour-thumb .tour-caption {
	background:#fff;
	padding:0.9em 0 0.3em 0;
}

.tour-thumb .tour-title {
	margin-bottom:0.5em;
}

.tour-thumb .tour-meta {
	overflow:hidden;
	padding-top:0.5em;
	margin-bottom:-0.2em;
	border-top:1px dotted #ddd;
}

.tour-thumb .tour-destination {
	float:left;
	width:70%;
	padding-right:5%;
	color:#777;
}

.tour-thumb .tour-destination a {
	color:#777;
}

.tour-thumb .tour-duration {
	float:right;
	width:25%;
	text-align:right;
	color:#777;
}

.tour-thumb .tour-meta .colored-icon {
	margin-right:2px;
}

.tour-footer {
	clear:both;
	margin-top:1em;
}

.tour-footer .button {
	margin:0.3em 7px 0 0;
}

/*----------------------------- Single Tour -----------------------------*/

.tour-slider-container .block-background {
	position:absolute;
	background:#fff;
	width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.tour-slider {
	border:10px solid #fff;
	overflow:hidden;
}

.tour-slider .arrow {
	position:absolute;
	top:50%;	
	width:13px;
	height:23px;
	margin-top:-12px;
	background:url(images/main_slider_arrows.png) -13px 0 no-repeat;
	z-index:100;
	cursor:pointer;
	opacity:0;
}

.tour-slider:hover .arrow{
	opacity:1;
}

.tour-slider .arrow-left {
	left:24px;
}

.tour-slider .arrow-right {
	right:24px;
	background-position:0 0;
}

.full-tour {
	padding-bottom:3em;
}

.items-list .full-tour:last-child {
	padding-bottom:0;
}

.full-tour .featured-image {
	border-width:10px;
}

.full-tour .tour-meta {
	display:block;
	margin-bottom:1em;
	list-style:none;
}

.full-tour .tour-meta li {
	display:block;
	margin-bottom:0.5em;
}

.full-tour .tour-meta .colored-icon {
	margin-right:5px;
}

.full-tour .tour-meta a {
	color:#333;
}

.tour-itinerary {
	display:table;
	width:100%;
}

.tour-day {
	display:table-row;
}

.tour-day-number,
.tour-day-text {
	display:table-cell;
}

.tour-day-number {
	padding:0;
	border-right:1px dotted #ccc;
	vertical-align:top;
}

.tour-day-number h5 {
	display:block;
	color:#fff;
	background:#FF9000 url(images/itinerary_bg.png) -2px -8px no-repeat;
	white-space:nowrap;
	padding:0.5em 10px 0.5em 16px;
	margin:0 -1px 0 0;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15);
	border:1px solid rgba(0,0,0,0.1);
	border-left-width:0;
}

.tour-day-text {
	padding:0 0 2em 20px;
}

.tour-day:last-child .tour-day-text {
	padding-bottom:0;
}

.tour-day-text .bubble-text {
	padding:1.5em 20px;
	border:1px solid #DFDFDF;
	float:left;
}

.tour-day-text .bubble-corner {
	width:8px;
	height:16px;
	background:url(images/bubble_corner.png) 0 0 no-repeat;
	float:left;
	margin:0.7em 0 0 -8px;
	position:relative;
	right:-1px;
	z-index:2;
}

.related-tours {
	padding-top:3em;
}

.related-tours .section-title{
	margin-bottom:1.5em;
}

/*-------------------------- Tours Search Form ------------------------*/

.tour-search-form {
	background:#475964;
	padding:1.5em 20px;
	overflow:hidden;
	border:1px solid rgba(0,0,0,0.1);
}

.tour-search-form .form-title {
	width:100%;
	background:#424D54;
	margin-bottom:1.5em;	
	padding:1em 20px;
	margin:-1.5em 0 1.5em -20px;
}

.tour-search-form .form-title h4 {
	color:#ccc;
	margin:0;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15);
}

.tour-search-form input:focus {
	border-color:#2f2f2f;
	color:#AFAFAF;
}

.tour-search-form .field-container {
	padding:0 10px;
}

.tour-search-form input {
	background-color:#323B41;
	width:100%;
	margin-left:-10px;
	border:1px solid #2f2f2f;
	color:#AFAFAF;
	margin-bottom:1.5em;
}

.tour-search-form .form-button {
	text-align:center;
}

.tour-search-form .button-container {
	display:inline-block;
	border:4px solid #424D54;
}

.tour-search-form .button {
	display:block;
}

.tour-search-form .button {
	line-height:2.3em;
	font-size:1.3em;
	padding:0 16px;
}

/*-------------------------------- Gallery ------------------------------*/

.gallery-item {
	position:relative;
}

.gallery-item .block-background {
	background:#fff;
	position:absolute;
	height:100%;
	left:5px;
	right:4px;
	top:4px;
	bottom:-4px;
}

.gallery-video {
	width:650px;
}

/* ============================== SLIDERS ============================= */

/*----------------------------- Fade Slider ----------------------------*/

.content-slider-container {
	position:relative;
}

.content-slider {
	position:relative;
	z-index:5;
}

.content-slider ul {
	display:block;
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}

.content-slider li{
	width:100%;
	display:block;
	float:left;
	padding:0;
	background:none;
	display:none;	
	position:relative;
	margin:0;
}

.content-slider li:first-child {
	display:block;
}

.content-slider iframe,
.content-slider object,
.content-slider img {
	width:100%;
	display:block;	
}

.content-slider .featured-image {
	border-width:0;
	z-index:1;
}

.motion-effect .slide-overlay {
	display:block;
	width:125%;
	max-width:none;
	height:auto;
	position:absolute;
	left:0;
	top:0;	
	z-index:10;
}

.embedded-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embedded-video iframe,  
.embedded-video object,  
.embedded-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*----------------------------- Main Slider ----------------------------*/

.main-slider-container .block-background {
	position:absolute;
	background:#fff;	
	width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.main-slider {
	border:10px solid #fff;
	overflow:hidden;
}

.main-slider .arrow {
	position:absolute;
	top:50%;	
	width:13px;
	height:23px;
	margin-top:-12px;
	background:url(images/main_slider_arrows.png) -13px 0 no-repeat;
	z-index:100;
	cursor:pointer;
	opacity:0;
}

.main-slider:hover .arrow{
	opacity:1;
}

.main-slider .arrow-left {
	left:24px;
}

.main-slider .arrow-right {
	right:24px;
	background-position:0 0;
}

/*------------------------ Testimonials Slider ----------------------*/

.testimonials-slider > ul {
	list-style:none;
	margin:0;
}

.testimonials-slider > ul > li {
	background:#fff;
	margin:0;
}

.testimonials-slider .quote-text {
	font-size:1.1em;
	line-height:1.6em;
	font-style:italic;
	padding:1em 20px;
	border:1px solid #E2E2E2;
}

.testimonials-slider .quote-author {
	float:left;
	padding:0.9em 15px 0 20px;
	margin:-1px 0 0 0;
	color:#444;
	background:url(images/testimonials_item_bg.png) right 0 no-repeat;
}

.testimonials-slider .controls {
	position:absolute;
	right:20px;
	bottom:0.4em;
	z-index:100;
}

.testimonials-slider .controls a {
	display:block;
	width:10px;
	height:10px;
	float:left;
	margin-left:5px;
	background:#DFDFDF url(images/testimonials_control_bg.png) 0 0 no-repeat;
}

.testimonials-slider .controls a.current {
	background-color:#FF9000;
}

/* ============================== WIDGETS ============================= */

.widget {
	margin-bottom:2em;
 float: left;
}

.widget:last-child {
	margin-bottom:0;
}

.widget .section-title span {
	font-size:1.4em;
}

.widget ul {
	list-style:none;
	margin:0;
}

.widget li {
	margin-bottom:0.5em;
	padding-bottom:0.6em;
	border-bottom:1px dotted #ddd;
}

.widget li:last-child {
	border-bottom-width:0;
	padding-bottom:0;
	margin-bottom:0;
}

.header-widgets .widget,
.header-widgets .widget a,
.header-widgets .section-title h3 {
	color:#fff;
}

.footer-widgets .column {
	margin-top:3em;
}

.footer-widgets .column:last-child {
	margin-right:0;
	margin-bottom:0;
}

/*---------------------------- Search Widget ---------------------------*/

.widget_search form {
	display:block;
	padding:0 10px 0 30px;
}

.widget_search input[type="text"] {
	width:100%;	
	margin:0 0 0 -30px;
	display:block;
	padding-right:30px;
	background:#fff url(images/search_icon.png) right 0.8em no-repeat;
}

.widget_search input[type="submit"] {
	display:none;
}

.widget_search label {
	display:none;
}

/*------------------------------- Posts Widget --------------------------*/

.widget-selected-posts .post {
	margin-bottom:0.6em;
	padding-bottom:0.6em;
	border-bottom:1px dotted #ddd;
}

.widget-selected-posts .post:last-child {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}

.widget-selected-posts .post-title {
	margin-bottom:0;
}

.widget-selected-posts .post-featured-image {
	margin-bottom:0;
	float:left;
	width:22.05%;
}

.widget-selected-posts .post-content {
	float:right;
	width:74.05%;
}

.widget-selected-posts .post-footer {
	margin-top:0;
}

/*----------------------------- Comments Widget -------------------------*/

.widget_recent_comments li {
	position:relative;
	padding-left:19px;
}

.widget_recent_comments li:before {
	content:" ";
	display:block;
	position:absolute;
	left:0;
	top:1px;
	width:16px;
	height:16px;
	margin:0 0 -5px 0;
	background:#FF9000 url(images/colored_icons.png) -6px -115px no-repeat;
}

/*------------------------------- Google Map ---------------------------*/

.map-container {	
	position:relative;
	z-index:99;
	border:1px solid #ddd;
	border-left-width:0;
	border-right-width:0;
	background:#fff;
}

.map-container.align-top {
	margin-top:-5.5em;
	border-top-width:0;
}

.map-container.align-bottom {
	margin-bottom:-5.5em;
	border-bottom-width:0;
}

.map-container img {
	max-width:none;
}

/*----------------------------- Newsletter Widget -----------------------*/

.widget-subscribe ul {
	margin-bottom:0.5em;
}

.widget-subscribe .field-container {
	display:block;
	padding:0 20px;
}

.widget-subscribe .field-container input {
	margin:0;
	width:100%;
	margin-left:-20px;
	padding-right:30px;
	background:#fff url(images/subscribe_icon.png) right 10px no-repeat;
}

/*----------------------------- Twitter Widget -------------------------*/

.widget-twitter li {
	position:relative;
	padding-left:21px;
}

.widget-twitter li .colored-icon {
	position:absolute;
	left:0;
	top:0;
}

/* ======================== WOOCOMMERCE STYLES ======================== */

.woocommerce .page-title,
.woocommerce #woocommerce_eu_vat_number h3,
.woocommerce #woocommerce_eu_vat_number label,
.woocommerce .tour-checkout .woocommerce-info,
.woocommerce .tour-checkout .shop_table,
.woocommerce .tour-checkout .place-order .terms,
.woocommerce #customer_details .col-1 label,
.woocommerce #customer_details .shipping_address label,
.woocommerce #order_comments_field label,
.woocommerce .comment-form-rating label,
.woocommerce .comment-form-comment  label,
.woocommerce .tour-checkout .form-row label,
.woocommerce .tour-checkout .billing-details h3 {
	display:none;
}

.woocommerce p:last-child,
.woocommerce .tour-checkout .form-row,
.woocommerce #customer_details.col2-set, 
.woocommerce #customer_details .col-1 .create-account {
	margin-bottom:1em;
}

.woocommerce .bacs_details,
.woocommerce .woocommerce-ordering {
	margin-bottom:1.5em;
}

.woocommerce .related ul.products, 
.woocommerce .related ul,
.woocommerce ul.products {
	margin-bottom:-3em;
	float:left;
	width:100%;
}

.woocommerce .tour-checkout .form-row-first,
.woocommerce .tour-checkout .form-row-last {
	width:100%;
	padding:0;
	float:none;
}

.woocommerce .checkout #payment {
	background:none;
}

.woocommerce #payment ul.payment_methods {
	padding:0;
	border-bottom:none;
}

.woocommerce #payment ul.payment_methods label {
	font-weight:bold;
	cursor:pointer;
}

.woocommerce #payment ul.payment_methods li input {
	margin-right:0.5em;
}

.woocommerce #payment .form-row.place-order {
	padding:1em 0 0 0;
	margin-bottom:0;
}

.woocommerce ul.order_details {
	display:block;
	list-style:none;	
}

.woocommerce ul.order_details li {
	padding-bottom:0.5em;
	border-bottom:1px dotted #d6d6d6;
	float:none;
	border-right-width:0;
	text-transform:none;
	font-size:1em;
}

.woocommerce ul.order_details li strong,
.woocommerce #customer_details  .create-account > label {
	display:inline;
	font-size:1em;
}

.woocommerce ul.order_details li:last-child {
	border-width:0;
	margin-bottom:0;
	padding-bottom:0;
}

.tour-checkout p:last-child,
.woocommerce #payment .terms,
.woocommerce select {
	padding:0;
	margin:0;
}

.woocommerce .quantity input {
	margin-bottom:0;
}

.woocommerce .quantity .plus,
.woocommerce .quantity .minus {
	color:#444!important;
}

.woocommerce .comment-text {
	display:block;
}

.woocommerce .button.added:before {
	position:absolute;
	left:-9999px;
}

.woocommerce .product .cart table td.value,
.woocommerce .added_to_cart {
	padding-left:10px;
}

.woocommerce .product .cart .reset_variations {
	display:inline-block;
	margin-top:0.5em;
}

.woocommerce .cart-collaterals .cart_totals table td {
	padding-right:12px;
}

.woocommerce .create-account,
.woocommerce #woocommerce_eu_vat_number {
	clear:left;
	width:100%;
}

.woocommerce .comment-form-rating {
	padding:1em 0 0.5em 0;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
	font-family:Signika;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt {
	border:1px solid rgba(0,0,0,0.1);
	padding:0 12px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.2)!important;
	font-weight:normal;
	line-height:2.2em!important;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover {
	background:#999;
}

.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover {
	background:#FF9000;
}

.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce #content input.button:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page #content input.button:active {
	background-image:none!important;
	top:0;
}

/* ========================= RESPONSIVE STYLES ======================== */

/* --------------------------- 940px-1139px --------------------------- */

@media only screen and (max-width: 1139px) and (min-width: 940px) {
	.row {
		width:940px;
		padding:0 20px;
	}
}

/* ---------------------------- 939px-768px --------------------------- */

@media only screen and (max-width: 939px) and (min-width: 768px) {
	.row {
		width:728px;
		padding:0 20px;
	}
	
	.substrate img {
		width:200%;
	}
	
	.comments-list li ul {
		padding-left:14%;
	}

	.comment .comment-text {
		width:86%;
	}
}

/* ------------------------------ 0-767px ---------------------------- */

@media handheld, only screen and (max-width: 767px) {
	
	.header-menu {
		display:none;
	}
	
	.site-header .select-menu {
		display:block;
	}
	
	.site-header .subheader-block {
		margin:0;
	}
	
	.row .column {
		width:100%;
		margin:0 0 3em 0;
	}
	
	.row .column > .column {
		margin-bottom:1em;
	}
	
	.row .column.last,	
	.contact-form .column{
		margin-bottom:0;
	}
	
	.site-header .subheader {
		padding-bottom:1em;
	}
	
	.items-grid {
		margin-bottom:-3em;
	}
	
	.items-grid  .column.last {
		margin-bottom:3em!important;
	}
	
	.full-tour .featured-image {
		margin-bottom:-1em;
	}
	
	.post .post-featured-image {
		margin-bottom:1em;
	}
	
	.widget {
		margin-bottom:3em;
	}
	
	.comments-list li ul {
		padding-left:15%;
	}

	.comment .comment-text {
		width:85%;
	}	
	
	.vertical-tabs .tabs {
		margin-bottom:1.5em;
	}
	
	.vertical-tabs .tabs li {
		margin-top:-1px;
	}
	
	.vertical-tabs .tabs li.current {
		border-right:1px solid #E5E5E5;
		margin-right:0;
	}
	
	.vertical-tabs .panes {
		padding:0;
		border-width:0;
	}
	
	.vertical-tabs .panes .column {
		margin-bottom:1em;
	}
	
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce div.product div.images,
	.woocommerce .col2-set .col-2,
	.woocommerce .col2-set .col-1,
	.woocommerce ul.products li.product, 
	.woocommerce div.product div.summary {
		width:100%;
		margin-right:0;
		margin-bottom:2em;		
	}
	
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator {
		margin-bottom:0;
		text-align:left;
	}
	
	.woocommerce .woocommerce-ordering {
		float:none;
		clear:left;
	}
}

/* ---------------------------- 480px-767px -------------------------- */

@media handheld, only screen and (max-width: 767px) and (min-width: 480px) {
	.row {
		width:460px;
		padding:0 10px;
	}
	
	.substrate img {
		width:500%!important;
		max-width:500%;
	}
	
	.gallery-video {
		width:380px;
	}
}

/* ---------------------------- 320px-479px -------------------------- */

@media handheld, only screen and (max-width: 479px) {
	.row {
		width:300px;
		padding:0 10px;
	}
	
	.site-footer .copyright {
		width:100%;
		float:none;
		text-align:center;
	}
	
	.site-footer .menu {
		display:none;
	}
	
	.substrate img {
		width:700%!important;
		max-width:700%;
	}
	
	.popup-form,
	.gallery-video {
		width:240px;
	}
	
	.footer-widgets .column {
		margin-top:0;
	}
	
	.footer-widgets .column:first-child {
		margin-top:3em;
	}
}

/* =========================== CSS3 EFFECTS =========================== */

input,
textarea,
.button,
.ui-slider,
.tour-search-form,
.post-tags a,
.pagination span,
.testimonials-slider .quote,
.tour-search-form .button-container,
.gallery-item .block-background,
.tour-day-text .bubble-text,
.select-field,
.header-menu ul ul,
.header-menu > div > ul > li > a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.header-menu > div > ul > li.parent.hover > a {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.header-menu ul ul li:first-child {
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}

.header-menu ul ul li:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.header-menu ul ul ul li:first-child {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
}

.header-menu ul ul {
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}

.featured-image,
.tour-thumb,
.gallery-item .block-background,
.content-slider-container .block-background,
.tour-thumb-container .block-background,
.tour-slider,
.main-slider {
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}

.site-content {
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.4);
	box-shadow:0 0 15px rgba(0,0,0,0.4);
}

.tour-search-form .ui-slider,
.tour-search-form .button-container,
.tour-search-form .form-title,
.tour-search-form .select-field,
.tour-search-form input {
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1)!important;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1)!important;
	box-shadow:0 1px 0 rgba(255,255,255,0.1)!important;
}
.subheader-block .tour-search-form {
 float: left;
}
.tour-search-form {
	-moz-box-shadow:0 0 18px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow:0 0 18px rgba(0,0,0,0.1) inset;
	box-shadow:0 0 18px rgba(0,0,0,0.1) inset;
}

.ui-slider-range {
	-moz-box-shadow:0 2px 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow:0 2px 1px rgba(255,255,255,0.2) inset;
	box-shadow:0 2px 1px rgba(255,255,255,0.2) inset;
}

textarea,
input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
	-moz-box-shadow:0 2px 4px rgba(204,204,204,0.4) inset;
	-webkit-box-shadow:0 2px 4px rgba(204,204,204,0.4) inset;
	box-shadow:0 2px 4px rgba(204,204,204,0.4) inset;
}

.content-slider-container .layer-1 {	
	-ms-transform: rotate(1.2deg);
	-webkit-transform: rotate(1.2deg);
	-o-transform: rotate(1.2deg);
	-moz-transform: rotate(1.2deg);
	transform: rotate(1.2deg);
}

.content-slider-container .layer-2 {	
	-ms-transform: rotate(-1.8deg);
	-webkit-transform: rotate(-1.8deg);
	-o-transform: rotate(-1.8deg);
	-moz-transform: rotate(-1.8deg);
	transform: rotate(-1.8deg);
}

.tour-thumb-container .block-background {	
	-ms-transform: rotate(2.1deg);
	-webkit-transform: rotate(2.1deg);
	-o-transform: rotate(2.1deg);
	-moz-transform: rotate(2.1deg);
	transform: rotate(2.1deg);
}

.featured-image-caption,
.content-slider .arrow {	
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.tour-thumb-container .block-background {	
	-moz-transition: top 0.2s, bottom 0.2s;
	-webkit-transition: top 0.2s, bottom 0.2s;
	-o-transition: top 0.2s, bottom 0.2s;
	transition: top 0.2s, bottom 0.2s;
}

.featured-image-caption {	
	-moz-transition: bottom 0.2s;
	-webkit-transition: bottom 0.2s;
	-o-transition: bottom 0.2s;
	transition: bottom 0.2s;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover,
input[type="submit"],
input[type="button"],
.button {	
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(0,0,0,0.08)),color-stop(0.5, rgba(128,128,128,0.08)),color-stop(1, rgba(255,255,255,0.08)));
	background-image: linear-gradient(bottom, rgba(0,0,0,0.08) 0%, rgba(128,128,128,0.08) 50%, rgba(255,255,255,0.08) 100%);
}

.pagination span {	
	background-image: -o-linear-gradient(bottom, #EBEBEB 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #EBEBEB 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #EBEBEB 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #EBEBEB 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(1, #FFFFFF));
	background-image: linear-gradient(bottom, #EBEBEB 0%, #FFFFFF 100%);
}