/*
Theme Name:  Elvira
Theme URI:   http://themes.themedsgn.com/elvira/
Author:      ThemeDsgn
Author URI:  http://themedsgn.com/
Description: WordPress Theme <em>for</em> Bloggers
Version:     1.1
License:     GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: elvira
*/


/*
 * 01. CSS Reset - Based on YUI3 CSS Reset
 ================================================== */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
::-moz-selection {
	background: #89B399;
	color: #fff;
}
::selection {
	background: #89B399;
	color: #fff;
}
html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; 
}
legend {
	color:#000;
}
pre,
code {
	padding: 15px;
	background: #f9f9f9;
	white-space: pre-wrap;
	word-wrap: break-word;
}


/*
 * 02. Basic Styles
 ================================================== */
body {
	font-family: "Roboto", "Helvetica Neue", Arial, Sans-serif;
	font-size: 14px;
	line-height: 1.775;
	color: #4a4a4a;
	margin: 0 auto;
	padding: 0;
	background: #f9f9f9;
	vertical-align: baseline;
}
a {
	color: #89B399;
	text-decoration: none;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	transition: .1s;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
p { margin-bottom: 20px; }
strong, b { font-weight: bold; }
em { font-style: italic; }
small { font-size: .786em; }
h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 1.25em 0 .5em;
	line-height: 1.45;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }
blockquote {
	display: block;
	clear: both;
	margin-bottom: 30px;
	font-size: 1.143em;
	color: #888;
	padding: 30px;
	border-left: 5px solid #89B399;
	background: #f9f9f9;
}
blockquote p:last-child {
	margin-bottom: 0;
}
blockquote small {
	color: #bbb;
}
hr {
	border: none;
	clear: both;
	display: block;
	margin: 30px 0;
	height: 1px;
	border-bottom: 1px solid #eee;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table th,
table td {
	padding: 5px;
	border: 1px solid #eee;
}
table th {
	font-weight: bold;
	text-align: center;
}
table caption {
	text-align: center;
	padding: 10px;
	border-bottom: none;
	font-size: .786em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.entry-content ul,
.entry-content ol {
	padding-left: 30px;
	margin-bottom: 30px;
	list-style: square;
}
.entry-content ol {
	list-style: decimal;
}
.entry-content li {
	padding-left: 8px;
}
.fluid-width-video-wrapper {
	margin-bottom: 30px;
}

	/* Typography */
	body {
		font-family: "Rubik", sans-serif;
	}
	h1, h2, h3, h4, h5, h6,
	.colophon,
	.widget_recent_entries li::before {
		font-family: "Domine", serif;
	}
	.top-menu,
	.main-menu {
		font-family: "Rubik", sans-serif;
	}

	/* Forms */
	input,
	textarea {
		padding: 12px 15px;
		width: 100%;
		outline: none;
		margin: 5px 0;
		border: 2px solid #e5e5e5;
		-webkit-transition: .15s;
		-moz-transition: .15s;
		transition: .15s;
	}
	input[type=checkbox] {
		width: auto;
		margin-right: 5px;
	}
	textarea {
		min-height: 250px;
	}
	input:hover,
	textarea:hover,
	input:focus,
	textarea:focus {
		border-color: #89B399;
	}
	input[type=submit],
	button,
	.button {
		border: none;
		padding: 13px 15px;
		line-height: normal;
		display: inline-block;
		background: #89B399;
		color: #fff;
		letter-spacing: 1px;
		border-color: #89B399;
		text-decoration: none;
		cursor: pointer;
	}
	.button:hover {
		text-decoration: none;
	}
	.button.round {
		padding: 0 20px;
		line-height: 40px;
		border-radius: 20px;
	}	
 

/*
 * WordPress Core
 ================================================== */
.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 20px auto;
}
.alignright {
	float:right;
	margin: 5px 0 20px 30px;
}
.alignleft {
	float: left;
	margin: 5px 30px 20px 0;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 30px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 30px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.wp-caption {
	max-width: 100%;
	text-align: left;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 30px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 30px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}
.wp-caption .wp-caption-text {
	font-size: .929em;
	line-height: 17px;
	margin: 0;
	padding: 10px 0 6px;
	color: #888;
	line-height: 1.5;
	border-bottom: 3px double #eee;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}
.gallery {
	margin-bottom: 30px;
	padding-top: 10px;
}
.gallery .gallery-item {
	display: inline-block;
	margin: 0;
	position: relative;
}
.gallery .gallery-item .gallery-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: #000;
	font-size: 10px;
	color: #fff;
	display: none;
	opacity: 0;
	-webkit-transition: .15s;
	-moz-transition: .15s;
	transition: .15s;
}
.gallery .gallery-item:hover .gallery-caption {
	display: block;
	opacity: 1;
}
.gallery a:hover {
	opacity: .80;
}
.gallery-caption, .bypostauthor {}
	/* Jetpack */
	div.jetpack-recipe {
		margin: 30px 0;
		padding: 15px 30px;
		border: 1px solid #f5f5f5;
	}


/*
 * 03. Layout
 ================================================== */
.container {
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
}	
#content {
	padding-top: 30px;
	padding-bottom: 80px;
}
#primary {
	float: left;
	width: 73%;
	padding-right: 30px;
}
#secondary {
	float: right;
	width: 27%;
}
#top-content {
	margin-top: 30px;
}
.half { 
	width: 50%; 
}

	/* Clearfix */
	.container::before,
	.container::after,
	.clearfix::before,
	.clearfix::after {
		content: "";
		display: table;
	}
	.container::after,
	.clearfix::after {
		clear: both;
	}

	/* Fullwidth */
	.fullwidth #primary {
		width: 100%;
		float: none;
		padding-right: 0;
		padding-left: 0;
	}

	/* Left Sidebar */
	.left-sidebar #primary {
		float: right;
		padding-right: 0;
		padding-left: 30px;
	}
	.left-sidebar #secondary {
		float: left;
	}




/**
 * 04. Header
 ================================================== */
#header {
	background: #fff;
}

	/* Topbar */
	#topbar {
		height: 42px;
		line-height: 40px;
		background: #f9f9f9;
		color: #888;
		font-size: .857em;
		border-bottom: 1px solid #f5f5f5;
	}
	#topbar .topbar-left {
		float: left;
	}
	#topbar .topbar-right {
		float: right;
	}
		/* Top menu */
		.top-menu li {
			display: inline-block;
		}
		.top-menu li a {
			display: inline-block;
			padding: 0 15px;	
			line-height: .917em;	
			color: #888;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: .5px;
			font-size: .917em;
			border-right: 1px solid #eee;
		}
		.top-menu li:last-child a {
			border-right: none;
		}
		.top-menu li a:hover {
			color: #89B399;
		}
		
		/* Button */
		#topbar .button {
			line-height: 1;
			padding: 5px 12px;
			background: #fff;
			border-radius: 20px;
			color: #bbb;
			border: 1px solid #eee;
			letter-spacing: normal;
		}
		#topbar .button:hover {
			color: #89B399;
			border-color: #89B399;
		}

		/* Socials */
		#topbar .topbar-socials {
			float: left;
		}
		#topbar .topbar-socials a {
			display: inline-block;
			font-size: 14px;
			color: #888;
			width: 40px;
			text-align: center;
			border-left: 1px solid #eee;
			float: left;
		}
		#topbar .topbar-socials a:last-child {
			border-right: 1px solid #eee;
		}
		#topbar .topbar-socials a:hover {
			color: #89B399;
		}

		/* Search */
		#topbar .search-form {
			float: left;
			width: 220px;
		}
		#topbar .search-form .search-input {
			height: 40px;
			border: none;
			border-left: 1px solid #eee;
			padding: 0 15px 0 10px;
			background: transparent;
		}
		#topbar .search-form .search-submit {
			display: none;
		}

	/* Main Header */
	.header-wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;	
		padding: 30px 0;
	}
	.header-wrapper .site-branding,
	.header-wrapper .header-socials,
	.header-wrapper .header-search {
		display: table-cell;
		vertical-align: middle;
		width: 30%;
		text-align: center;
	}

	/* Branding */
	.header-wrapper .site-branding {
		width: 40%;
		text-align: center;
	}
		.site-branding .logo-text {
			line-height: 1;
			font-size: 48px;
			text-transform: uppercase;
			letter-spacing: 10px;
			font-weight: bold;
		}
		.site-branding .logo-text a {
			color: #222;
			text-decoration: none;
		}
		.site-branding .tagline {
			color: #bbb;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

	/* Socials */
	.header-socials {
		border-right: 1px solid #f5f5f5;
	}
	.header-socials a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 38px;
		text-align: center;
		border: 2px solid #d5d5d5;
		color: #888;
		border-radius: 20px;
		margin: 2px;
	}
	.header-socials a:hover {
		color: #89B399;
		border-color: #89B399;
	}

	/* Search */
	.header-search {
		border-left: 1px solid #f5f5f5;
	}
	.header-search form {
		position: relative;
		display: inline-block;
	}
	.header-search .search-input {
		width: 100%;
		min-width: 225px;
		height: 40px;
		line-height: 36px;
		border-radius: 20px;
		border: 2px solid #d5d5d5;
		padding: 0 40px 0 12px;
		outline: none;
		margin: 0;
		font-size: 13px;
	}
	.header-search .search-input:hover,
	.header-search .search-input:focus {
		border-color: #89B399;
	}
	.header-search .fa {
		position: absolute;
		width: 32px;
		height: 24px;
		line-height: 24px;
		color: #bbb;
		top: 8px;
		right: 5px;
		text-align: center;
		border-left: 1px solid #eee;
		font-size: 14px;
	}
	.header-search .search-input:hover ~ .fa,
	.header-search .search-input:focus ~ .fa {
		color: #89B399;
	}

	/* Nav */
	#nav {
		z-index: 99999;
		text-align: center;
	}
	#nav.stretched {
		background: #89B399;
	}
	#nav.left {
		text-align: left;
	}
	#nav.right {
		text-align: right;
	}
	.sticky-nav-on #nav {
		background: #89B399;
	}
	.menu-wrapper {
		z-index: 99999;
		background: #89B399;
	}
	.main-menu {
		list-style: none;
		margin: 0;
		padding: 0;	
		line-height: 1;	
	}
	.main-menu a {
		color: #fff;
		text-decoration: none;
	}
	.main-menu li {
		position: relative;
	}
	.main-menu > li {
		display: inline-block;
	}
	.main-menu > li > a {
		display: inline-block;
		padding: 22px 25px;
		text-transform: uppercase;
		letter-spacing: 1px;		
		position: relative;
	}
	.main-menu > li > a
	.main-menu > li > a:hover,
	.main-menu > li.current-menu-item > a,
	.main-menu > li:hover > a {
		background: #7aa088;
		box-shadow: 0 -3px rgba(0,0,0,.25) inset;
	}

		/* Child Menu */
		.main-menu ul {
			position: absolute;
			z-index: 99999;
			width: 225px;
			padding: 25px;
			background: #93bfa3;
			left: 0;
			top: 100%;
			text-align: left;
			display: none;	
			font-size: .929em;	
		}
		.main-menu ul li {
			z-index: 2;
			border-bottom: 1px solid rgba(255,255,255,.075);
		}
		.main-menu ul li a {
			display: block;
			padding: 10px 0;
			color: #fff;
			line-height: 1.35;
		}
		.main-menu ul li a:hover {
			opacity: .60;
			text-indent: 5px;
		}
		.main-menu ul ul {
			top: 0;
			left: 175px;
		}
		.main-menu ul ul::after {
			background: rgba(255,255,255,.25);
		}
		.main-menu li:hover > ul {
			display: block;
		}
		.main-menu .fa { padding-left: 5px; }

	/* Mobile Menu */
	.mobile-nav {
		display: none;
	}
	.mobile-nav .mobile-nav-anchor {
		display: inline-block;
		color: #fff;
		line-height: 60px;
		padding: 0 25px;
		float: left;
	}
	.mobile-menu {
		width: 300px;
		position: absolute;
		padding: 25px;
		z-index: 99999;
		background: #232323;
		top: 100%;
		text-align: left;
		font-size: .857em;
		display: none;
	}
	.mobile-menu ul {
		padding-left: 25px;		
		border-top: 1px solid #353535;
	}
	.mobile-menu li:not(:last-child) {
		border-bottom: 1px solid #353535;
	}
	.mobile-menu a {
		display: block;
		padding: 8px 0;
		color: #fff;
	}
	.mobile-menu > li > a {
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	/* Mobile Socials */
	.mobile-socials {
		float: right;
		padding-right: 15px;
	}
	.mobile-socials a {
		height: 36px;
		width: 36px;
		line-height: 32px;
		display: inline-block;
		color: #fff;
		margin: 12px 2px;
		text-align: center;
		border-radius: 18px;
		border: 2px solid #fff;
		opacity: .60;
	}
	.mobile-socials a:hover {
		opacity: 1;
	}

	/* Header Layout */
	.header-2 .header-socials {
		border-right: none;
		border-left: 1px solid #eee;
	}
	.header-2 .header-search {
		border-left: none;
		border-right: 1px solid #eee;
	}
	.header-3 .site-branding,
	.header-4 .site-branding,
	.header-6 .site-branding {
		text-align: left;
	}
	.header-3 .header-socials,
	.header-4 .header-search {
		border: none;
		text-align: right;
	}

	/* Border separator */
	.no-border .header-search,
	.no-border .header-socials {
		border: none !important;
	}



/*
 * 05. Entry
 ================================================== */
.entry {	
	margin-bottom: 30px;
}
.entry .entry-wrapper {
	padding: 30px;
	background: #fff;
	border: 1px solid #eee;
	position: relative;
}
.entry .entry-header {
	margin-bottom: 30px;
	text-align: center;
	overflow: hidden;
}
.entry .entry-cat {
	display: inline-block;
	position: relative;
	letter-spacing: 2px;
	color: #bbb;
	font-size: .857em;
	margin-bottom: 10px;
}
.entry .entry-cat a {
	display: inline-block;
	color: #89B399;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	line-height: normal;
	padding: 5px 8px;
	border: 1px solid #89B399;
}
.entry .entry-title {
	font-size: 2.857em;
	line-height: 1.35;
	margin: 10px 80px 20px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.entry .entry-title a {
	color: #222;
	text-decoration: none;
	display: inline-block;
}
.entry .entry-title a:hover {
	color: #89B399;
}
.entry .entry-meta {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #f5f5f5;
	text-align: center;
	color: #888;
}
.entry .entry-meta > span {
	display: table-cell;
	width: 33.33333%;
	border: 1px solid #f5f5f5;
	padding: 10px;
	vertical-align: middle;
}
.entry .entry-meta a {
	color: #888;
	text-decoration: none;
}
.entry .entry-meta a:hover {
	color: #89B399;
}
.entry .entry-image {
	text-align: center;
	margin-bottom: 30px;
}
.entry .entry-footer {
	margin: 30px -30px -30px;
	text-align: center;
	padding: 30px;
	background: #fcfcfc;
	border-top: 1px solid #f5f5f5;
}
.entry .entry-footer .entry-share {
	float: right;
	position: relative;
}
.entry .entry-footer .entry-share a {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 32px;
	border-radius: 18px;
	text-align: center;
	border: 2px solid #e5e5e5;
	color: #888;
	float: left;
	margin: 2px;
}
.entry .entry-footer .entry-share a:hover {
	color: #89B399;
	border-color: #89B399;
}
.entry .entry-footer .more-link {
	text-transform: uppercase;
	font-size: .786em;
	letter-spacing: 2px;
	float: left;
	padding: 0 18px;
	line-height: 36px;
	border-radius: 18px;
}

	/* Sticky Post */
	#blogroll .entry.sticky .entry-wrapper {
		border-color: #89B399;
	}
	#blogroll .entry.sticky .sticky-indicator {
		border-top: 50px solid #89B399;
		border-left: 50px solid transparent;
		position: absolute;
		top: 0;
		right: 0;
	}

	/* Layout: Grid */
	.blogroll-grid {
		margin-left: -15px;
		margin-right: -15px;
	}
	.blogroll-grid .grid-sizer {
		width: 50%;
	}
	.blogroll-grid .entry {
		width: 50%;
		padding: 0 15px;
		float: left;
	}
	.blogroll-grid .entry .entry-meta span {
		width: 50%;
	}
	.blogroll-grid .entry .entry-title {
		font-size: 2em;
		margin-left: 0;
		margin-right: 0;
	}

	/* Layout: Alt Grid */
	.blogroll-grid.grid-alt .entry.first {
		width: 100%;
	}
	.blogroll-grid.grid-alt .entry.first .entry-title {
		font-size: 40px;
	}

	/* Layout: Three Columns Grid */
	.blogroll-grid.three-columns .entry,
	.blogroll-grid.three-columns .grid-sizer {
		width: 33.33333%;
	}

	/* Layout: List */
	.blogroll-list .entry .entry-wrapper {
		position: relative;
	}
	.blogroll-list .entry .entry-image {
		width: 50%;
		float: left;
		padding-right: 30px;
		margin: 0;
	}
	.blogroll-list .entry .entry-content-wrapper {
		float: right;
		width: 50%;
	}
	.blogroll-list .entry .entry-title {
		font-size: 2em;
		margin-left: 0;
		margin-right: 0;
	}
	.blogroll-list .entry .entry-footer {
		padding: 0;
		margin: 30px 0 0 0;
		background: transparent;
		border: none;
	}
	.blogroll-list .entry.no-featured-image .entry-content-wrapper {
		width: 100%;
		float: none;
	}

	/* Posts navigation */
	.navigation {
		margin: 15px 0;
		position: relative;
	}
	.navigation::before,
	.navigation:after {
		content: "";
		display: table;
	}
	.navigation::after {
		clear: both;
	}

	/* Pagination */
	.pagination .nav-links {
		text-align: center;
		margin-left: 40px;
		margin-right: 40px;
	}
	.pagination .nav-links .page-numbers {
		display: inline-block;
		height: 30px;
		padding: 0 15px;
		line-height: 28px;
		text-decoration: none;
		color: #bbb;
		border: 2px solid #e5e5e5;
		margin-top: 5px;
		border-radius: 2px;
	}
	.pagination .nav-links .page-numbers.current,
	.pagination .nav-links .page-numbers:hover {
		color: #89B399;
		border-color: #89B399;
	}
	.pagination .nav-links .dots {
		border: none;
		padding: 0 5px;
	}
	.pagination .nav-links .prev,
	.pagination .nav-links .next {
		float: left;
		width: 40px;
		height: 40px;
		line-height: 36px;
		border-radius: 20px;
		padding: 0;
		margin: 0 0 0 -40px;
		border-width: 2px;
		text-align: center;
	}
	.pagination .nav-links .next {
		float: right;
		margin: 0 -40px 0 0;
	}
	.pagination .nav-links .fa {
		font-size: 10px;
	}

	/* Post navigation */
	.navigation.post-navigation {
		background: #fff;
		border: 1px solid #eee;
		margin-bottom: 30px;
		margin-top: -31px;
	}
	.navigation.post-navigation .nav-next,
	.navigation.post-navigation .nav-previous {
		width: 50%;
		float: left;
	}
	.navigation.post-navigation .nav-links::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 1px;
		border-right: 1px solid #eee;
		margin-left: -1px;
	}
	.navigation.post-navigation .nav-next {
		text-align: right;
		float: right;
	}
	.navigation.post-navigation a {
		color: #333;
		padding: 30px;
		display: inline-block;
		text-decoration: none;
	}
	.navigation.post-navigation a:hover {
		color: #89B399;
	}

	/* Archive */
	.archive-box {
		margin-bottom: 30px;
		padding: 15px 15% 15px 15%;
		text-align: center;
	}
	.archive-box h2 {
		font-size: 2.143em;
		margin: 0;	
		display: inline-block;
	}
	.archive-box .archive-description {
		color: #888;
		margin-top: 20px;
	}
	.archive-box .archive-description p {
		margin-bottom: 0;
	}
	.archive-box .search-form {
		margin-top: 20px;
	}

	/* Single Entry */
	.single-entry .entry-title {
		color: #333;
	}
	.single-entry .entry-footer .entry-tags {
		float: left;
		width: 50%;
		text-align: left;
	}
	.single-entry .entry-footer .entry-tags a {
		display: inline-block;
		line-height: 36px;
		text-decoration: none;
		margin: 2px 10px 2px 0;
		color: #bbb;
	}
	.single-entry .entry-footer .entry-tags a::before {
		content: "# ";
	}
	.single-entry .entry-footer .entry-tags a:hover {
		color: #89B399;
	}

	/* Page */
	.entry.type-page .entry-cat {
		display: none;
	}
	.entry.type-page .entry-title {
		margin-top: 0;
	}
	.entry.type-page .entry-header {
		margin-bottom: 0;
	}
	.entry.type-page .entry-content {
		margin-top: 30px;
	}
	.entry.type-page .entry-footer .entry-comment-meta {
		float: left;
		line-height: 40px;
		color: #bbb;
	}
	.entry.type-page .entry-footer .entry-comment-meta a {
		display: inline-block;
		color: #bbb;
		text-decoration: none;
	}
	.entry.type-page .entry-footer .entry-comment-meta a:hover {
		color: #89B399;
	}
	.entry.type-page.single-entry.fullwidth-template .entry-header {
		padding-top: 30px;
	}
	.entry.type-page.single-entry.fullwidth-template .entry-content {
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 30px;
	}

	/* 404 */
	.entry-error-404 {
		margin-bottom: 0;
	}
	.entry-error-404 .entry-wrapper {
		padding: 100px;
	}
	.entry-error-404 h1 {
		font-size: 2.143em;
		line-height: 1;
		margin: 0 0 30px;
	}
	.entry-error-404 h2 {
		font-size: 1.286em;
		margin: 0 0 30px;
	}

	/* Author Info */
	.author-info {
		padding: 30px;
		margin-bottom: 30px;
		background: #fff;
		border: 1px solid #eee;
	}
	.author-info .avatar {
		float: left;
	}
	.author-info .author-detail {
		margin-left: 150px;
	}
	.author-info .author-title {
		font-size: 1em;
		color: #bbb;
		margin: 0;
	}
	.author-info .author-name {
		font-size: 2em;
		font-weight: bold;
		margin: 0 0 20px 0;
	}
	.author-info .author-name a {
		color: #333;
	}
	.author-info .author-description {
		color: #888;
	}
	.author-info .author-socials {
		text-align: left;
		margin-top: 20px;		
	}

	/* Related Posts */
	.related-posts-section {
		margin-bottom: 30px;
	}
	.related-posts-section .related-posts-title {
		font-size: 1.143em;
		text-align: center;
		margin: 20px 0 30px 0;
		overflow: hidden;
		line-height: 20px;
		font-weight: bold;		
	}
	.related-posts-section .related-posts-title span {
		display: inline-block;
		padding: 0 30px;
		position: relative;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
	}
	.related-posts-section .related-posts-title span::before,
	.related-posts-section .related-posts-title span::after {
		content: "";
		position: absolute;
		width: 9999px;
		height: 1px;
		top: 50%;
		left: -9999px;
		margin-top: -1px;
		border-bottom: 1px solid #e5e5e5;
	}
	.related-posts-section .related-posts-title span::after {
		left: auto;
		right: -9999px;
	}
	.related-posts {
		margin: 0 -15px;
	}	
	.related-posts .related-item {
		width: 33.33333%;
		float: left;
		padding: 0 15px;
	}
	.related-posts .related-item a {
		display: block;
		background: #fff;
		padding: 30px;
		border: 1px solid #eee;
		color: #373737;
		text-align: center;
		text-decoration: none;
	}
	.related-posts .related-item a:hover {
		color: #89B399;
	}
	.related-posts .related-item a .entry-image {
		margin: -30px -30px 30px -30px;
	}
	.related-posts .related-item a h3 {
		font-size: 1.143em;
		line-height: 1.5;
		margin: 0;
	}

	/* Comments */
	.comments-section {
		padding: 30px;
		background: #fff;
		border: 1px solid #eee;
	}
	.comments-section .comments-title {
		padding: 30px;
		margin: -30px -30px 30px -30px;
		background: #fcfcfc;
		border-bottom: 1px solid #f5f5f5;
		font-size: 1.429em;
		font-weight: bold;
	}
	.comments-list {
		padding-bottom: 30px;
	}
	.comments-list li ol {
		padding-left: 45px;
	}
	.comment-body {
		margin-bottom: 30px;
		margin-left: 80px;
		position: relative;
		padding-bottom: 30px;
		border-bottom: 1px solid #f5f5f5;
	}
	.comment-body .comment-meta .comment-author .avatar {
		position: absolute;
		left: -80px;
		top: 0;
		padding: 4px;
		border: 1px solid #f5f5f5;
	}
	.comment-body .comment-meta .comment-author .says {
		display: none;
	}
	.comment-body .comment-meta .comment-metadata {
		font-size: .857em;
	}
	.comment-body .comment-meta .comment-metadata a {
		color: #bbb;
		text-decoration: none;
	}
	.comment-body .comment-content {
		margin: 15px 0 0;
	}
	.comment-body .reply a {
		text-decoration: none;
		display: inline-block;
		font-size: .714em;
		padding: 3px 11px;
		border-radius: 15px;
		background: #89B399;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.comment-body .comment-awaiting-moderation {
		color: #bbb;
		font-size: .857em;
	}

	/* Comment Nav */
	.comment-navigation {
		text-align: center;
		margin: -30px 0 50px;
	}
	.comment-navigation .nav-previous,
	.comment-navigation .nav-next {
		display: inline-block;
	}
	.comment-navigation a {
		display: inline-block;
		color: #888;
		text-decoration: none;
		height: 32px;
		line-height: 30px;
		border: 1px solid #eee;
		padding: 0 16px;
		border-radius: 20px;
		background: #fff;
		font-size: .857em;
		margin: 0 5px;
	}
	.comment-navigation a:hover {
		color: #89B399;
		border-color: #89B399;
	}

	/* Comment Form */
	.comments-list li .comment-respond {
		margin-left: 90px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #f5f5f5;
	}
	.comment-respond .comment-reply-title {
		font-weight: bold;
		font-size: 20px;
		margin: 0 0 20px 0;
	}
	.comment-respond .comment-reply-title a {
		margin-left: 30px;
		padding-left: 30px;
		border-left: 1px solid #eee;
	}
	.comment-respond .comment-form {
		margin-right: -30px;
	}	
	.comment-respond .comment-form p {
		padding-right: 30px;
		margin-bottom: 15px;
	}
	.comment-respond .comment-form .logged-in-as a {
		color: #4a4a4a;
	}
	.comment-respond .comment-form .comment-notes {
		color: #bbb;
		margin-bottom: 20px;
	}	
	.comment-respond .comment-form .form-allowed-tags {
		display: none;
	}
	.comment-respond .comment-form .comment-form-author,
	.comment-respond .comment-form .comment-form-email,
	.comment-respond .comment-form .comment-form-url {
		width: 33.33333%;
		float: left;
	}
	.comment-respond .comment-form .form-submit {
		margin-bottom: 0;
	}	

	/* Link Pages */
	.link-pages {
		padding: 30px 0;
		text-align: center;
	}
	.link-pages a,
	.link-pages > span {
		display: inline-block;
		line-height: 1;
		padding: 10px 14px;
		color: #fff;
		background: #89B399;
		border-radius: 80px;
		text-decoration: none;
	}
	.link-pages > span {
		background: #4a4a4a;
	}


/* 
 * 06. Widget
 ================================================== */
.widget {
	padding: 30px;
	margin-bottom: 30px;	
	border: 1px solid #eee;	
}
.widget:last-child {
	margin-bottom: 0;
}
.widget .widget-title {
	position: relative;
	text-align: center;
	margin: -30px 0 30px 0;
	padding: 15px;
	font-size: 1em;
	border-bottom: 1px solid #eee;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#sidebar .widget {
	width: 100%;
}
#sidebar.sidebar-2 .widget {
	background: #fff;
}
#sidebar.sidebar-2 .widget li {
	border-color: #f5f5f5;
}

	/* Widgetized */
	.widgetized .widget {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.widgetized .widget .widget-title {
		font-size: 1.429em;
		border: none;
		padding: 0;
		margin: 0 0 30px;
		overflow: hidden;
	}
	.widgetized .widget .widget-title span {
		position: relative;
		display: inline-block;
		padding: 0 30px;
		line-height: 1;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	.widgetized .widget .widget-title span::before,
	.widgetized .widget .widget-title span::after {
		content: "";
		position: absolute;
		width: 1000px;
		left: -1000px;
		top: 50%;
		border-bottom: 1px solid #eee;
	}
	.widgetized .widget .widget-title span::after {
		left: auto;
		right: -1000px;
	}


	/* Bottom Content */
	#bottom-content {
		background: #fff;
		padding: 30px 0;
		border-top: 1px solid #eee;
	}

	/* Elements */
	.widget li {
		padding: 8px 0;
		border-bottom: 1px solid #eee;
	}
	.widget li:first-child {
		padding-top: 0;
	}
	.widget li:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
	.widget li a {
		color: #333;
		text-decoration: blink;
	}
	.widget li a:hover {
		color: #89B399;
	}

	/* About widget */
	.about-widget {
		text-align: center;
	}
	.about-widget .about-image {
		margin-bottom: 25px;
	}
	.about-widget .about-image img {
		border-radius: 2px;
	}
	.about-widget .about-image.circle-mask img {
		border-radius: 400px;
	}
	.about-widget .about-title {
		margin-bottom: 15px;
	}
	.about-widget .about-title h3 {
		font-size: 1.429em;
		font-weight: bold;
		margin: 0 0 5px;
	}
	.about-widget .about-title div {
		margin: 0;
		font-size: .857em;
		letter-spacing: 2px;
		color: #bbb;
		text-transform: uppercase;
	}
	.about-widget .about-text {
		font-size: .929em;
		padding-top: 15px;
		border-top: 1px solid #eee;
	}

	/* Social Icons */
	.social-icons {
		text-align: center;
		margin-bottom: -4px;
	}
	.social-icons a {
		width: 36px;
		height: 36px;
		line-height: 36px;
		border-radius: 18px;
		display: inline-block;
		text-align: center;
		background: #89B399;
		color: #fff;
		margin-bottom: 4px;
		font-size: 14px;
	}
	.social-icons.icon-square a {
		border-radius: 0;
	}
	.social-icons.icon-round a {
		border-radius: 3px;
	}
	.social-icons a:hover {
		background: #232323;
	}

	/* Categories */
	.widget_categories li {		
		color: #bbb;
		border: none;
		padding: 5px 0;
	}
	.widget_categories li a {
		margin-right: 5px;
	}

	/* Posts list */
	.posts-list li {
		padding: 20px 0;
	}
	.posts-list li img {
		float: left;
	}
	.posts-list li .post-list-detail {
		margin-left: 120px;
	}
	.posts-list li .post-list-detail a {
		display: block;
		line-height: 1.5;
	}
	.posts-list li .post-list-detail time {
		color: #bbb;
		display: block;
		margin-top: 10px;
		font-size: .929em;
		line-height: 1;
	}
	.posts-list.list-large li img {
		float: none;
		margin-bottom: 15px;
	}
	.posts-list.list-large li .post-list-detail {
		margin-left: 0;
	}
	.posts-list.list-large li .post-list-detail a {
		font-size: 1.143em;
	}
	.posts-list.list-large li .post-list-detail time {
		font-size: .929em;
	}

	/* Posts section */
	.posts-carousel {
		overflow: hidden;
		text-align: center;
	}
	.posts-carousel .post-item {
		text-align: center;
	}	
	.posts-carousel .post-item .post-item-wrap {
		padding: 30px;
		background: #fff;
		border: 1px solid #eee;
	}
	.posts-carousel .post-item .post-image {
		margin: -30px -30px 30px;
		display: block;
	}
	.posts-carousel .post-item h4 {
		font-size: 1.143em;
		margin: 0 0 10px 0;
		line-height: 1.5;
	}
	.posts-carousel .post-item h4 a {
		color: #373737;
		text-decoration: none;
		display: inline-block;
	}
	.posts-carousel .post-item h4 a:hover {
		color: #89B399;
	}
	.posts-carousel .post-item time {
		font-size: .929em;
		color: #bbb;
	}	
	.posts-carousel .owl-dots {
		display: inline-block;
		position: relative;
		text-align: right;
		margin-top: 40px;
		padding: 0 30px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	.posts-carousel .owl-dots::before,
	.posts-carousel .owl-dots::after {
		content: "";
		position: absolute;
		top: 50%;
		height: 1px;
		margin-top: -1px;
		border-bottom: 1px solid #eee;
		width: 250px;
		left: -250px;
	}
	.posts-carousel .owl-dots::after {
		right: -250px;
		left: auto;
	}
	.posts-carousel .owl-dot {
		display: inline-block;
		width: 14px;
		height: 14px;
		border: 2px solid #d5d5d5;		
		border-radius: 7px;
		margin: 0 5px;
		float: left;
	}
	.posts-carousel .owl-dot.active {
		border-color: #89B399;
	}
	.posts-carousel .owl-nav .owl-prev,
	.posts-carousel .owl-nav .owl-next {
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		bottom: 14px;
		border-radius: 16px;
		border: 2px solid #ddd;
		color: #ddd;
		left: 0;
		bottom: 0;
		line-height: 28px;
		text-align: center;
		padding-right: 2px;
		font-size: 10px;
		-webkit-transition: .15s;
		-moz-transition: .15s;
		transition: .15s;
	}
	.posts-carousel .owl-nav .owl-prev:hover,
	.posts-carousel .owl-nav .owl-next:hover {
		border-color: #89B399;
		color: #89B399;
	}
	.posts-carousel .owl-nav .owl-next {
		left: auto;
		right: 0;
		padding-left: 2px;
		padding-right: 0;
	}

	/* Tagcloud */
	.tagcloud {
		text-align: center;
	}
	.tagcloud a {
		display: inline-block;
		padding: 5px 10px;
		border: 1px solid #e5e5e5;
		color: #888;
		margin-bottom: 4px;
		text-decoration: none;
		font-size: 1em !important;
	}
	.tagcloud a:hover {
		color: #89B399;
		border-color: #89B399;
	}

	/* Custom Menu */
	.widget_custom_menu li {
		padding: 2px 0;
		border: none;
	}

	/* Recent Entries */
	.widget_recent_entries ul {
		counter-reset: recent_entries_counter;
	}
	.widget_recent_entries li {
		position: relative;
		padding: 15px 0 15px 45px;
		counter-increment: recent_entries_counter;
	}
	.widget_recent_entries li::before {
		content: counter(recent_entries_counter) '.';
		position: absolute;
		left: 0;
		font-size: 2.143em;
		color: #ddd;
		font-style: italic;
		line-height: 1;
	}
	.widget_recent_entries li a {
		display: block;
		line-height: 1.5;
	}
	.widget_recent_entries li span {
		color: #bbb;
		font-size: .857em;
	}

	/* Slider */
	.slider-item {
		background-size: cover;
		background-position: center;
		position: relative;
		height: 550px;
	}
	.slider-item .slider-caption {
		position: absolute;
		width: 400px;
		background: #fff;
		box-shadow: 0 2px 5px -1px rgba(0,0,0,.25);
		text-align: center;
		top: 50%;
		left: 50%;
		margin-left: -200px;
		padding: 40px 50px 50px;
		transform: translateY(-30%);
		opacity: 0;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
	.posts-slider .active .slider-caption {
		opacity: 1;
		transform: translateY(-50%);
	}
	.slider-item .slider-caption .slider-cat {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: .857em;
		color: #bbb;
	}
	.slider-item .slider-caption .slider-cat a {
		text-decoration: none;
		color: #89B399;
		line-height: normal;
		display: inline-block;
		padding: 0 5px;
	}
	.slider-item .slider-caption .slider-title {
		font-size: 1.714em;
		margin: 15px 0;
	}
	.slider-item .slider-caption .slider-title a {
		text-decoration: none;
		color: #333;
		display: inline-block;
	}
	.slider-item .slider-caption .slider-title a:hover {
		color: #89B399;
	}
	.slider-item .slider-caption time {
		color: #bbb;
		display: block;
		font-size: .929em;
	}
	.slider-item .slider-caption .more {
		display: inline-block;
		margin-top: 30px;
		font-size: .786em;
		color: #373737;
		border-bottom: 1px solid #89B399;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;
		padding: 5px 20px;
	}
	.slider-item .slider-caption .more:hover {
		letter-spacing: 2px;
		color: #89B399;
	}
	.posts-slider .owl-next,
	.posts-slider .owl-prev {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 20px;
		top: 50%;
		margin-top: -18px;
		text-align: center;
		line-height: 32px;
		color: #fff;
		border-radius: 18px;
		border: 2px solid #fff;
		font-size: 12px;
	}
	.posts-slider .owl-next {
		right: 20px;
		left: auto;
	}	

	/* Tiled Posts */
	.tiled-posts {
		margin: -1px;
	}
	.tiled-post {
		width: 50%;
		padding: 1px;
		float: left;
	}
	.tiled-post.small {
		width: 25%;
	}
	.tiled-post a {
		background-size: cover;
		background-position: center;
		height: 602px;
		display: block;
		position: relative;
		text-decoration: none;
	}
	.tiled-post.medium a,
	.tiled-post.small a {
		height: 300px;
	}
	.tiled-post a::after,
	.tiled-post a::before {
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		opacity: .275;        
		background: #000;
		-webkit-transition: .25s;
		-moz-transition: .25s;
		transition: .25s;
	}
	.tiled-post a::before {
		opacity: 0;	
		background: #89B399;
	}
	.tiled-post a:hover::before {
		opacity: .95;
	}
	.tiled-post a:hover::after {
		opacity: 0;
	}
	.tiled-post a .tiled-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px;
		z-index: 2;
		color: #fff;
		opacity: .5;
		text-align: center;
		-webkit-transition: .25s;
		-moz-transition: .25s;
		transition: .25s;
	}
	.tiled-post a .tiled-caption h2 {
		font-size: 24px;
		margin: 0 0 5px 0;
	}
	.tiled-post a .tiled-caption time {
		font-size: 12px;
		opacity: .60;
	}
	.tiled-post.small a .tiled-caption h2 {
		font-size: 18px;
	}
	.tiled-post a:hover .tiled-caption {
		opacity: 1;
		transform: translateY(-30px) scale(.85);
	}

	/* Search Form */
	.search-form {
		position: relative;
	}
	.search-form .search-input {
		height: 45px;
		padding: 0 60px 0 15px;
		margin: 0;
		border-radius: 45px;
	}
	.search-form .search-submit {
		position: absolute;
		top: 10px;
		right: 0;
		width: 45px;
		height: 25px;
		line-height: 25px;
		padding: 0;
		text-align: center;
		margin: 0;
		background: transparent;
		color: #bbb;
		font-size: 14px;
		border-left: 1px solid #e5e5e5;
	}

	/* Calendar */
	.widget_calendar table td {
		text-align: center;
	}

	/* Instagram. */
	#sb_instagram #sbi_load {
		padding-top: 0 !important;
	}



/*
 * 07. Footer
 ================================================== */
#footer {
	background: #232323;
}
	/* Instagram */
	#instagram-sidebar .widget {
		padding: 0;
		margin: 0;
		border: none;
	}

	/* Footer Logo */
	.footer-logo {
		padding: 40px 0;
		text-align: center;
		background: #89B399;
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
	.footer-logo .logo-text {
		font-size: 48px;
		line-height: 1;
		letter-spacing: 10px;
		text-transform: uppercase;
	}
	.footer-logo .logo-text a {
		color: #fff;
		text-decoration: none;
	}
	
	/* Main Footer */
	.main-footer {
		padding: 50px 0;
		text-align: center;
	}
	.main-footer .footer-socials {
		margin-bottom: 15px;
	}
	.main-footer .footer-socials a {
		display: inline-block;
		color: #e5e5e5;
		text-transform: uppercase;
		font-size: .786em;
		letter-spacing: 2px;
		margin: 0 15px 5px;
		text-decoration: none;
		border-bottom: 1px solid transparent;
	}
	.main-footer .footer-socials a i {
		padding-right: 5px;
	}
	.main-footer .footer-socials a:hover {
		border-color: #89B399;
	}
	.main-footer .colophon {		
		color: #888;
		font-size: .857em;
	}



/*
 * 08. Media Queries
 ================================================== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	/* Layout */
	.container {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	#primary {
		width: 70%;
	}
	#secondary {
		width: 30%;
	}

	/* Blogroll grid */
	.blogroll-grid .entry {
		width: 100%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	#topbar,
	.main-menu,
	.header-wrapper .header-socials {
		display: none;
	}

	/* Header */
	.header-wrapper {
		display: block;
		padding: 0 !important;
	}
	.header-wrapper .site-branding,
	.header-wrapper .header-search {
		display: block;
		width: 100%;
		border: none;
		padding: 25px;
		text-align: center;
	}
	.header-wrapper .header-search {
		background: #f5f5f5;
		padding: 15px;
	}
	.header-wrapper .header-search form {
		display: block;
	}

	/* Nav */
	.mobile-nav {
		display: block;
	}

	/* Layout */
	#primary,
	#secondary {
		padding-left: 0 !important;
		padding-right: 0 !important;
		float: none !important;
		width: 100% !important;
	}
	#secondary {
		margin-top: 50px;
	}
	#sidebar {
		margin-right: -4%;
	}
	#sidebar .widget {
		margin-right: 4%;
		width: 46%;
		float: left;
	}

	/* Blogroll grid */
	.blogroll-grid .entry {
		width: 50%;
	}

	/* Page */
	.entry.type-page.single-entry.fullwidth-template .entry-header {
		padding-top: 0;
	}
	.entry.type-page.single-entry.fullwidth-template .entry-content {
		padding: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {		
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	/* Posts slider */
	.slider-item {
		height: 500px;
	}
	.slider-item .slider-caption {
		width: 90%;
		margin-left: -45%;
		top: auto;
		bottom: 0;
		padding: 30px;
		transform: none;
	}
	.slider-item .slider-caption time,
	.slider-item .slider-caption .more {
		display: none;
	}
	.posts-slider .active .slider-caption {
		transform: none;
		bottom: 0;
	}

	/* Carousel */
	.posts-carousel .owl-dots {
		border: none;
	}
	.posts-carousel .owl-dots::before, 
	.posts-carousel .owl-dots::after {
		display: none;
	}

	/* Sidebar */
	#sidebar {
		margin-right: 0;
	}
	#sidebar .widget {
		width: 100%;
		margin-right: 0;
	}

	/* Entry */
	.entry .entry-header .entry-title {
		margin-left: 0;
		margin-right: 0;
	}

	/* Blogroll list */
	.blogroll-list .entry .entry-image {
		position: relative;
		width: auto;
		height: auto;
		margin-bottom: 30px;
		float: none;
		padding: 0;
	}
	.blogroll-list .entry .entry-content-wrapper {
		float: none;
		width: 100%;
		padding-left: 0;
	}

	/* Blogroll grid */
	.blogroll-grid .entry {
		width: 100%;
	}

	/* Related posts */
	.related-posts {
		margin: 0 -5px;
	}
	.related-posts .related-item {
		padding: 0 5px;
	}

	/* Comment form */
	.comment-respond .comment-form .comment-form-author,
	.comment-respond .comment-form .comment-form-email,
	.comment-respond .comment-form .comment-form-url {
		width: 100%;
	}

	/* Instagram widget */
	#sbi_images .sbi_item {
		width: 33.33333% !important;
	}
	
	/* 404 */
	.entry-error-404 .entry-wrapper {
		padding: 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	/* Posts slider */
	.slider-item {
		height: 400px;
	}
	.slider-item .slider-caption .slider-title {
		font-size: 18px;
	}
	
	/* Entry */
	.entry .entry-header .entry-title {
		font-size: 2.143em;
	}
	.entry .entry-footer .more-link,
	.entry .entry-footer .entry-tags,
	.entry .entry-footer .entry-comment-meta {
		float: none;
	}
	.entry .entry-footer .entry-share {
		float: none;
		display: inline-block;
		margin-top: 20px;
	}
	.entry .entry-meta span:last-child {
		display: none;
	}

	/* Related posts */
	.related-posts .related-item {
		width: 50%;
	}
	.related-posts .related-item:first-child {
		width: 100%;
		margin-bottom: 10px;
	}

	/* Author info */
	.author-info {
		text-align: center;
	}
	.author-info .avatar {
		float: none;
		margin-bottom: 30px;
	}
	.author-info .author-detail {
		margin-left: 0;
	}
	.author-info .author-socials {
		display: inline-block;		
	}

	/* Post Navigation */
	.navigation.post-navigation .nav-next,
	.navigation.post-navigation .nav-previous {
		width: 100%;
		float: none;
		text-align: center;
	}
	.navigation.post-navigation .nav-previous {
		border-bottom: 1px solid #eee;
	}
	.navigation.post-navigation .nav-links::before {
		display: none;
	}
}


/*
 * 09. OWLCarousel
 ================================================== */
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0,0)}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;/*-webkit-backface-visibility:hidden;*/-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:flat}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{display:none}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{/*transform-style:preserve-3d*/transform-style:flat}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}






